<div class="phi">
    <div class="img">
        <img src="/media/store/assets/RFB Skin Packs.png" alt="Icon image filter Skin Pack">
    </div>
</div>
<hr>


<div class="packs">
    
    <a href="/store/com.rarefrostbites.13.funny">
        <div class="sel skin">
            <div class="ti">
                <img src="/media/store/com.rarefrostbites.13.funny.jpg" alt="Pack icon image Funny Bundles">
            </div>
            <div class="ph">
                <div class="pi">
                    <div class="pt">
                        <h3>Funny Bundles</h3>
                    </div>
                    <div class="pa">
                        <h4>RareFrostbites Team</h4>
                    </div>
                </div>
                <div class="pp">
                    <h3 data-pp-f></h3>
                </div>
            </div>
        </div>
    </a>
    
    <a href="/store/com.rarefrostbites.12.instagrama_world">
        <div class="sel skin">
            <div class="ti">
                <img src="/media/store/com.rarefrostbites.12.instagrama_world.jpg" alt="Pack icon image Instagram-a World">
            </div>
            <div class="ph">
                <div class="pi">
                    <div class="pt">
                        <h3>Instagram-a World</h3>
                    </div>
                    <div class="pa">
                        <h4>RareFrostbites Team</h4>
                    </div>
                </div>
                <div class="pp">
                    <h3 data-pp-f></h3>
                </div>
            </div>
        </div>
    </a>
    
    <a href="/store/com.rarefrostbites.11.looking_good">
        <div class="sel skin">
            <div class="ti">
                <img src="/media/store/com.rarefrostbites.11.looking_good.jpg" alt="Pack icon image Looking Good">
            </div>
            <div class="ph">
                <div class="pi">
                    <div class="pt">
                        <h3>Looking Good</h3>
                    </div>
                    <div class="pa">
                        <h4>RareFrostbites Team</h4>
                    </div>
                </div>
                <div class="pp">
                    <h3 data-pp-f></h3>
                </div>
            </div>
        </div>
    </a>
    
    <a href="/store/com.rarefrostbites.9.rarechristmas_bundle">
        <div class="sel skin">
            <div class="ti">
                <img src="/media/store/com.rarefrostbites.9.rarechristmas_bundle.jpg" alt="Pack icon image RareChristmas Bundle">
            </div>
            <div class="ph">
                <div class="pi">
                    <div class="pt">
                        <h3>RareChristmas Bundle</h3>
                    </div>
                    <div class="pa">
                        <h4>RareFrostbites Team</h4>
                    </div>
                </div>
                <div class="pp">
                    <h3 data-pp-f></h3>
                </div>
            </div>
        </div>
    </a>
    
    <a href="/store/com.rarefrostbites.8.1st_century">
        <div class="sel skin">
            <div class="ti">
                <img src="/media/store/com.rarefrostbites.8.1st_century.jpg" alt="Pack icon image 1st Century">
            </div>
            <div class="ph">
                <div class="pi">
                    <div class="pt">
                        <h3>1st Century</h3>
                    </div>
                    <div class="pa">
                        <h4>RareFrostbites Team</h4>
                    </div>
                </div>
                <div class="pp">
                    <h3 data-pp-f></h3>
                </div>
            </div>
        </div>
    </a>
    
    <a href="/store/com.rarefrostbites.5.halloween_bundle">
        <div class="sel skin">
            <div class="ti">
                <img src="/media/store/com.rarefrostbites.5.halloween_bundle.jpg" alt="Pack icon image RareFrostbites Halloween Skin Pack Bundle">
            </div>
            <div class="ph">
                <div class="pi">
                    <div class="pt">
                        <h3>RareFrostbites Halloween Skin Pack Bundle</h3>
                    </div>
                    <div class="pa">
                        <h4>RareFrostbites Team</h4>
                    </div>
                </div>
                <div class="pp">
                    <h3 data-pp-f></h3>
                </div>
            </div>
        </div>
    </a>
    
    <a href="/store/com.rarefrostbites.3.glitched">
        <div class="sel skin">
            <div class="ti">
                <img src="/media/store/com.rarefrostbites.3.glitched.jpg" alt="Pack icon image Glitched Skin Pack">
            </div>
            <div class="ph">
                <div class="pi">
                    <div class="pt">
                        <h3>Glitched Skin Pack</h3>
                    </div>
                    <div class="pa">
                        <h4>RareFrostbites Team</h4>
                    </div>
                </div>
                <div class="pp">
                    <h3 data-pp-f></h3>
                </div>
            </div>
        </div>
    </a>
</div>