* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}
::-webkit-scrollbar {
  width: 10px;
  height: 10px;
}
::-webkit-scrollbar-track {
  background: #01001800;
}
::-webkit-scrollbar-thumb {
  background: #040049;
  border-radius: 10px;
}
::-webkit-scrollbar-thumb:hover {
  background: #110d5f;
}
::-webkit-scrollbar-thumb:active {
  background: #05005f;
}



html {
  scroll-behavior: smooth;
}
body {
    overflow-x: hidden;
    background-color: #010018;
}
a {
    text-decoration: none;
    cursor: pointer;
}
h1 {
    color: white;
    font-family: 'Poppins', sans-serif;
    font-weight: bold;
}
h2 {
    color: white;
    font-family: 'Poppins', sans-serif;
    font-weight: bold;
}
h3 {
    color: white;
    font-family: 'Poppins', sans-serif;
}
h4 {
    color: white;
    font-family: 'Readex Pro', sans-serif;
}
h5 {
    color: white;
    font-family: 'Readex Pro', sans-serif;
}
h6 {
    color: white;
    font-family: 'Readex Pro', sans-serif;
}
p {
    color: white;
    font-family: 'Readex Pro', sans-serif;
}

ul {
    color: white;
}
li {
    color: white;
}