* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}
::-webkit-scrollbar {
  width: 10px;
  height: 10px;
}
::-webkit-scrollbar-track {
  background-color: #01001800;
}
::-webkit-scrollbar-thumb {
  background-color: #04004969;
  margin: 5px;
  border-radius: 10px;
}
::-webkit-scrollbar-thumb:hover {
  background-color: #110d5f;
}
::-webkit-scrollbar-thumb:active {
  background-color: #05005f;
}



html {
  scroll-behavior: smooth;
}
body {
    overflow-x: hidden;
    background-color: #010018;
}
a {
    text-decoration: none;
    cursor: pointer;
}
h1 {
    color: white;
    font-family: 'Poppins', sans-serif;
    font-weight: bold;
}
h2 {
    color: white;
    font-family: 'Poppins', sans-serif;
    font-weight: bold;
}
h3 {
    color: white;
    font-family: 'Poppins', sans-serif;
}
h4 {
    color: white;
    font-family: 'Readex Pro', sans-serif;
    font-weight: lighter;
}
h5 {
    color: white;
    font-family: 'Readex Pro', sans-serif;
    font-weight: lighter;
}
h6 {
    color: white;
    font-family: 'Readex Pro', sans-serif;
    font-weight: lighter;
}
p {
    color: white;
    font-family: 'Readex Pro', sans-serif;
    font-weight: lighter;
}



ul {
    color: white;
    font-weight: lighter;
}
li {
    color: white;
    font-weight: lighter;
}



hr {
  outline: #fff;
}



.body {
  display: block;
  margin-left: auto;
  margin-right: auto;
}
.body .header {
  display: block;
  margin-left: auto;
  margin-right: auto;
}