* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}
::-webkit-scrollbar {
  width: 10px;
  height: 10px;
  background-color: #010018;
  border-radius: 10px;
}
::-webkit-scrollbar-track {
  background-color: #010018;
}
::-webkit-scrollbar-track:hover {
  background-color: #03003d2c;
  animation-duration: 5s;
}
::-webkit-scrollbar-thumb {
  background-color: #04004969;
  border-radius: 10px;
}
::-webkit-scrollbar-thumb:hover {
  background-color: #110d5f;
}
::-webkit-scrollbar-thumb:active {
  background-color: #05005f;
}


::selection {
  background-color: #00FFBA;
  color: #000;
}
::-moz-selection {
  background-color: #00FFBA;
  color: #000;
}



html {
  scroll-behavior: smooth;
}
body {
    overflow-x: hidden;
    background-color: #010018;
}
a {
    text-decoration: none;
    cursor: pointer;
}
h1 {
    color: white;
    font-family: 'Poppins', 'Baloo 2', 'Kosugi Maru', 'Nokora', 'Poor Story', 'Padauk', 'Be Vietnam Pro', 'VAGRoundedM';
    font-display: fallback;
    font-weight: bold;
    font-size: 2rem;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: normal;
}
h2 {
    color: white;
    font-family: 'Poppins', 'Baloo 2', 'Kosugi Maru', 'Nokora', 'Poor Story', 'Padauk', 'Be Vietnam Pro', 'VAGRoundedM';
    font-display: fallback;
    font-weight: bold;
    font-size: 1.5rem;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: normal;
}
h3 {
    color: white;
    font-family: 'Poppins', 'Baloo 2', 'Kosugi Maru', 'Nokora', 'Poor Story', 'Padauk', 'Be Vietnam Pro', 'VAGRoundedM';
    font-display: fallback;
    font-size: 1.17rem;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: normal;
}
h4 {
    color: white;
    font-family: 'Readex Pro', 'ZCOOL KuaiLe', 'M PLUS 1p', 'Kantumruy', 'Gothic A1', 'Noto Sans Myanmar', 'Josefin Sans', 'VAGRoundedB';
    font-display: fallback;
    font-weight: lighter;
    font-size: 1rem;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: normal;
}
h5 {
    color: white;
    font-family: 'Readex Pro', 'ZCOOL KuaiLe', 'M PLUS 1p', 'Kantumruy', 'Gothic A1', 'Noto Sans Myanmar', 'Josefin Sans', 'VAGRoundedB';
    font-display: fallback;
    font-weight: lighter;
    font-size: .83rem;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: normal;
}
h6 {
    color: white;
    font-family: 'Readex Pro', 'ZCOOL KuaiLe', 'M PLUS 1p', 'Kantumruy', 'Gothic A1', 'Noto Sans Myanmar', 'Josefin Sans', 'VAGRoundedB';
    font-display: fallback;
    font-weight: lighter;
    font-size: .67rem;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: normal;
}
p {
    color: white;
    font-family: 'Readex Pro', 'ZCOOL KuaiLe', 'M PLUS 1p', 'Kantumruy', 'Gothic A1', 'Noto Sans Myanmar', 'Josefin Sans', 'VAGRoundedB';
    font-display: fallback;
    font-weight: lighter;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: normal;
}



ul {
    color: white;
    font-weight: lighter;
}
li {
    color: white;
    font-weight: lighter;
}



hr {
  outline: #fff;
}