.body .footer {
    margin-top: 200px;
    width: auto;
    padding-bottom: 50px;
}



.body .footer hr {
    margin-top: 10px;
    margin-bottom: 10px;
    outline-width: .2px;
    outline-style: solid;
    outline-color: #c2c2c2;
    border: none;
    width: auto;
}



.body .footer .social_media {
    width: 320px;
    height: auto;
    margin-top: 50px;
    text-align: center;
}



.body .footer .social_media .image-logo {
    display: flex;
    justify-content: center;
    align-items: center;
}



.body .footer .social_media .image-logo .image-bounce {
    display: block;
    width: 60px;
    height: 60px;
}



.body .footer .social_media .image-logo .image-bounce .image {
    display: block;
    width: 60px;
    height: 60px;
    border-radius: 10px;
    cursor: pointer;
    transition-duration: .2s;
    z-index: 2;
}



.body .footer .social_media .image-logo .image-bounce .image:hover {
    transition-duration: .1s;
}



.body .footer .social_media .image-logo .image-bounce .image:active {
    padding: 1px 1px 1px 1px;
    transition-duration: .1s;
}



.body .footer .social_media .image-logo .image-bounce .image a {
    width: 60px;
    height: 60px;
}



.body .footer .social_media .image-logo .image-bounce .image a img {
    display: block;
    border-radius: 20px;
    width: 60px;
    height: 60px;
}



.body .footer .social_media .image-logo .image-bounce:active .image:active a img {
    width: 58px;
    height: 58px;
    border-radius: 40px;
}






.body .footer .pricon {
    float: right;
    margin-right: 20px;
    display: flex;
    align-items: center;
}



.body .footer .pricon h5 {
    margin-right: 10px;
    margin-left: 10px;
    padding: 5px;
    border-radius: 5px;
    transition-duration: .2s;
}



.body .footer .pricon h5:hover {
    background-color: #ffffff43;
    transition-duration: .1s;
}



.body .footer .pricon h5:active {
    background-color: #ffffff33;
    transition-duration: .1s;
}






.body .footer .year {
    position: relative;
    margin-left: 30px;
    bottom: -25px;
}



.body .footer .year h5::after {
    content: "© 2020 - 2022";
}






.body .footer .language .current {
    position: relative;
    display: flex;
    z-index: 6;
    float: right;
    margin-right: 30px;
    padding: 5px;
    width: 60px;
    height: 28px;
    border-radius: 5px;
    cursor: pointer;
    align-items: center;
    justify-content: space-between;
}



.body .footer .language .current:hover {
    background-color: #ffffff43;
}



.body .footer .language .current:active {
    background-color: #00ffbb43;
}



.body .footer .language .current img {
    border-radius: 3px;
}



.body .footer .language .selection {
    position: relative;
    display: none;
    z-index: 6;
    flex-direction: column;
    float: right;
    bottom: 210px;
    padding: 8px 5px 8px 5px;
    margin-bottom: -200px;
    right: -60px;
    width: 90px;
    height: 200px;
    background-color: #02002e;
    border-radius: 5px;
    align-content: center;
    overflow-y: scroll;
}



.body .footer .language .selection .select {
    display: flex;
    height: 30px;
    margin-top: 2.5px;
    margin-bottom: 2.5px;
    border-radius: 5px;
    animation-duration: .2s;
    align-items: center;
}



.body .footer .language .selection .select:hover {
    background-color: #ffffff43;
    animation-duration: .1s;
}



.body .footer .language .selection .select:active {
    background-color: #00ffbb43;
    animation-duration: .1s;
}



.body .footer .language .selection .select img {
    border-radius: 3px;
}



.body .footer .language .selection .select h5 {
    padding: 5px;
    display: flex;
    align-items: center;
    text-decoration: none;
}






@media only screen and (max-width: 600px) {
    .body .footer .social_media .image-logo .image-bounce {
        width: 40px;
        height: 40px;
        margin: 2px;
    }



    .body .footer .social_media .image-logo .image-bounce .image {
        width: 40px;
        height: 40px;
    }



    .body .footer .social_media .image-logo .image-bounce .image a {
        width: 40px;
        height: 40px;
    }



    .body .footer .social_media .image-logo .image-bounce .image a img {
        border-radius: 10px;
        width: 40px;
        height: 40px;
    }



    .body .footer .social_media .image-logo .image-bounce:active .image:active a img {
        border-radius: 20px;
        width: 38px;
        height: 38px;
    }
}






@media only screen and (min-width: 601px) {
    .body .footer .social_media .image-logo .image-bounce {
        margin: 10px;
    }
}






@media only screen and (max-width: 799px) {
    .body .footer .social_media {
        margin-right: auto;
        margin-bottom: 100px;
        margin-left: auto;
        height: auto;
        text-align: center;
    }






    .body .footer .year {
        margin-top: 150px;
    }
}






@media only screen and (min-width: 800px) {
    .body .footer .social_media {
        float: left;
        margin-left: 120px;
        height: auto;
        text-align: center;
    }






    .body .footer .pricon {
        margin-top: 200px;
    }






    .body .footer .year {
        margin-top: 300px;
    }
}