.body .mobile-products {
  position: fixed;
  z-index: 3;
  top: 29px;
  right: 20px;
  padding: 10px;
  border-radius: 30px;
  cursor: pointer;
}
.body .mobile-products:hover {
  background-color: #ffffff43;
}
.body .mobile-products:active {
  background-color: #ffffff33;
}
.body .mobile-products img {
  margin-bottom: -3px;
}

.body .desktop-products {
  position: fixed;
  z-index: 3;
  right: 20px;
  padding: 10px;
  border-radius: 30px;
  cursor: pointer;
}
.body .desktop-products:hover {
  background-color: #ffffff43;
}
.body .desktop-products:active {
  background-color: #ffffff33;
}
.body .desktop-products img {
  margin-bottom: -3px;
}

.body .open-products {
  position: fixed;
  z-index: 6;
  border-radius: 5px;
  width: 260px;
  height: 300px;
  padding: 10px;
  background-color: #02002e;
  right: 10px;
  top: 20px;
  overflow-y: scroll;
  display: none;
}
.body .open-products::-webkit-scrollbar {
  background-color: #02002e;
}
.body .open-products::-webkit-scrollbar-track {
  background-color: #02002e;
  border-radius: 5px;
}

.body .open-products .close-products {
  position: fixed;
  width: 38px;
  height: 38px;
  top: 30.4px;
  right: 21px;
  border-radius: 20px;
  padding: 6.5px 5px 5px 6.5px;
  cursor: pointer;
}
.body .open-products .close-products:hover {
  background-color: #ffffff43;
}
.body .open-products .close-products:active {
  background-color: #ffffff33;
}

.body .open-products .products {
  z-index: 3;
  width: 100%;
  height: auto;
  list-style-type: disc;
}
.body .open-products .products a .selection {
  width: 70px;
  height: 70px;
  margin-bottom: 10px;
  border-radius: 10px;
  display: inline-block;
  vertical-align: top;
}
.body .open-products .products a .selection:hover {
  background-color: #ffffff43;
}
.body .open-products .products a .selection:active {
  background-color: #ffffff33;
}

.body .open-products .products a .selection .selection-img {
  display: flex;
  justify-content: center;
}
.body .open-products .products a .selection .selection-img img {
  position: static;
  width: 50px;
  height: 50px;
}
.body .open-products .products a .selection .selection-h {
  margin-top: 2px;
  display: flex;
  justify-content: center;
}



@media only screen and (max-width: 799.9px) {
  .body .desktop-products {
    display: none;
  }
}



@media only screen and (min-width: 800px) {
  .body .mobile-products {
    display: none;
  }
}