.body .header .mobile-sidebar_button-open {
  position: relative;
  z-index: 3;
  display: block;
  cursor: pointer;
  padding: 20px;
}


.body .mobile-sidebar {
    height: 100%;
    width: 250px;
    position: fixed;
    z-index: 3;
    top: 0;
    left: -255px;
    background-color: #02001f;
    overflow: auto;
    padding-top: 60px;
    transition: .4s;
}
.body .mobile-sidebar .mobile-sidebar-area h2 {
    display: block;
    cursor: pointer;
    margin-top: -70px;
    padding: 20px 20px;
    font-size: 40px;
    text-decoration: none;
    transition-duration: .3s;
  }



  @media only screen and (max-width: 632px) {
    
  }
  
  
  
  @media only screen and (min-width: 633px) {
    .body .header .mobile-sidebar_button-open {
        display: none;
      }
  }