<div class="ps">
    <a href="#">
        <div class="pe">
            <img src="/media/store/assets/RFB Maps.png" alt="">
            <h3>Maps</h3>
        </div>
    </a>
    <a href="#">
        <div class="pe">
            <img src="/media/store/assets/RFB Texture Packs.png" alt="">
            <h3>Texture Packs</h3>
        </div>
    </a>
    <a href="#">
        <div class="pe">
            <img src="/media/store/assets/RFB Skin Packs.png" alt="">
            <h3>Skin Packs</h3>
        </div>
    </a>
    <a href="#">
        <div class="pe">
            <img src="/media/store/assets/RFB Mash-up Packs.png" alt="">
            <h3>Mash-up Packs</h3>
        </div>
    </a>
</div>

<div class="packs">
    <a href="#">
        <div class="sel texture">
            <div class="ti">
                <img src="/media/store/contents/Ya Ea.jpg" alt="Ya Ea">
            </div>
            <div class="ph">
                <div class="pt">
                    <h3>Ya Ea</h3>
                </div>
                <div class="pp">
                    <h3>FREE</h3>
                </div>
            </div>
        </div>
    </a>
    
    <a href="#">
        <div class="sel skin">
            <div class="ti">
                <img src="/media/store/contents/RareChristmas Bundle.jpg" alt="RareChristmas Bundle">
            </div>
            <div class="ph">
                <div class="pt">
                    <h3>RareChristmas Bundle</h3>
                </div>
                <div class="pp">
                    <h3>FREE</h3>
                </div>
            </div>
        </div>
    </a>
    
    <a href="#">
        <div class="sel skin">
            <div class="ti">
                <img src="/media/store/contents/1st Century.jpg" alt="1st Century">
            </div>
            <div class="ph">
                <div class="pt">
                    <h3>1st Century</h3>
                </div>
                <div class="pp">
                    <h3>FREE</h3>
                </div>
            </div>
        </div>
    </a>
    
    <a href="#">
        <div class="sel map">
            <div class="ti">
                <img src="/media/store/contents/Find the Lever.jpg" alt="Find the Lever">
            </div>
            <div class="ph">
                <div class="pt">
                    <h3>Find the Lever</h3>
                </div>
                <div class="pp">
                    <h3>FREE</h3>
                </div>
            </div>
        </div>
    </a>
    
    <a href="#">
        <div class="sel map">
            <div class="ti">
                <img src="/media/store/contents/Halloween Endless Run.jpg" alt="Halloween Endless Run">
            </div>
            <div class="ph">
                <div class="pt">
                    <h3>Halloween Endless Run</h3>
                </div>
                <div class="pp">
                    <h3>FREE</h3>
                </div>
            </div>
        </div>
    </a>
    
    <a href="#">
        <div class="sel skin">
            <div class="ti">
                <img src="/media/store/contents/RareFrostbites Halloween Skin Pack Bundle.jpg" alt="RareFrostbites Halloween Skin Pack Bundle">
            </div>
            <div class="ph">
                <div class="pt">
                    <h3>RareFrostbites Halloween Skin Pack Bundle</h3>
                </div>
                <div class="pp">
                    <h3>FREE</h3>
                </div>
            </div>
        </div>
    </a>
    
    <a href="#">
        <div class="sel map">
            <div class="ti">
                <img src="/media/store/contents/RareFrostbites Apocalyptic Wars.jpg" alt="RareFrostbites Apocalyptic Wars">
            </div>
            <div class="ph">
                <div class="pt">
                    <h3>RareFrostbites Apocalyptic Wars</h3>
                </div>
                <div class="pp">
                    <h3>FREE</h3>
                </div>
            </div>
        </div>
    </a>
    
    <a href="#">
        <div class="sel skin">
            <div class="ti">
                <img src="/media/store/contents/Glitched Skin Pack.jpg" alt="Glitched Skin Pack">
            </div>
            <div class="ph">
                <div class="pt">
                    <h3>Glitched Skin Pack</h3>
                </div>
                <div class="pp">
                    <h3>FREE</h3>
                </div>
            </div>
        </div>
    </a>
    
    <a href="#">
        <div class="sel map">
            <div class="ti">
                <img src="/media/store/contents/RareFrostbites One Block Sky Block.jpg" alt="RareFrostbites One Block Sky Block">
            </div>
            <div class="ph">
                <div class="pt">
                    <h3>RareFrostbites One Block Sky Block</h3>
                </div>
                <div class="pp">
                    <h3>FREE</h3>
                </div>
            </div>
        </div>
    </a>
    
    <a href="#">
        <div class="sel map">
            <div class="ti">
                <img src="/media/store/contents/RareFrostbites Sky World.jpg" alt="RareFrostbites Sky World">
            </div>
            <div class="ph">
                <div class="pt">
                    <h3>RareFrostbites Sky World</h3>
                </div>
                <div class="pp">
                    <h3>FREE</h3>
                </div>
            </div>
        </div>
    </a>

    <!-- <a href="#">
        <div class="sel map">
            <div class="ti">
                <img src="/media/store/contents/RareFrostbites Apocalyptic Wars.jpg" alt="">
            </div>
            <div class="ph">
                <div class="pt">
                    <h3>Halloween Endless Run</h3>
                </div>
                <div class="pp">
                    <h3>FREE</h3>
                </div>
            </div>
        </div>
    </a>
    
    <a href="#">
        <div class="sel texture">
            <div class="ti">
                <img src="/media/store/contents/Ya Ea.jpg" alt="">
            </div>
            <div class="ph">
                <div class="pt">
                    <h3>Halloween Endless Run</h3>
                </div>
                <div class="pp">
                    <h3>FREE</h3>
                </div>
            </div>
        </div>
    </a>
    
    <a href="#">
        <div class="sel skin">
            <div class="ti">
                <img src="/media/store/contents/RareChristmas Bundle.jpg" alt="">
            </div>
            <div class="ph">
                <div class="pt">
                    <h3>Halloween Endless Run</h3>
                </div>
                <div class="pp">
                    <h3>FREE</h3>
                </div>
            </div>
        </div>
    </a>
    
    <a href="#">
        <div class="sel mash-up">
            <div class="ti">
                <img src="/media/store/contents/Ya Ea.jpg" alt="">
            </div>
            <div class="ph">
                <div class="pt">
                    <h3>Halloween Endless Run</h3>
                </div>
                <div class="pp">
                    <h3>FREE</h3>
                </div>
            </div>
        </div>
    </a> -->
</div>