<div class="ps">
    <a href="#">
        <div class="pe">
            <img src="/media/store/assets/RFB Maps.png" alt="">
            <h3>Maps</h3>
        </div>
    </a>
    <a href="#">
        <div class="pe">
            <img src="/media/store/assets/RFB Texture Packs.png" alt="">
            <h3>Texture Packs</h3>
        </div>
    </a>
    <a href="#">
        <div class="pe">
            <img src="/media/store/assets/RFB Skin Packs.png" alt="">
            <h3>Skin Packs</h3>
        </div>
    </a>
    <a href="#">
        <div class="pe">
            <img src="/media/store/assets/RFB Mash-up Packs.png" alt="">
            <h3>Mash-up Packs</h3>
        </div>
    </a>
</div>


<div class="packs">
    <a href="#">
        <div class="sel texture">
            <div class="ti">
                <img src="/media/store/com.rarefrostbites.10.ya_ea.jpg" alt="Ya Ea">
            </div>
            <div class="ph">
                <div class="pi">
                    <div class="pt">
                        <h3>Ya Ea</h3>
                    </div>
                    <div class="pa">
                        <h4>RareFrostbites Team</h4>
                    </div>
                </div>
                <div class="pp">
                    <h3 data-pp>FREE</h3>
                </div>
            </div>
        </div>
    </a>
    
    <a href="#">
        <div class="sel skin">
            <div class="ti">
                <img src="/media/store/com.rarefrostbites.9.rarechristmas_bundle.jpg" alt="RareChristmas Bundle">
            </div>
            <div class="ph">
                <div class="pi">
                    <div class="pt">
                        <h3>RareChristmas Bundle</h3>
                    </div>
                    <div class="pa">
                        <h4>RareFrostbites Team</h4>
                    </div>
                </div>
                <div class="pp">
                    <h3 data-pp>FREE</h3>
                </div>
            </div>
        </div>
    </a>
    
    <a href="#">
        <div class="sel skin">
            <div class="ti">
                <img src="/media/store/com.rarefrostbites.8.1st_century.jpg" alt="1st Century">
            </div>
            <div class="ph">
                <div class="pi">
                    <div class="pt">
                        <h3>1st Century</h3>
                    </div>
                    <div class="pa">
                        <h4>RareFrostbites Team</h4>
                    </div>
                </div>
                <div class="pp">
                    <h3 data-pp>FREE</h3>
                </div>
            </div>
        </div>
    </a>
    
    <a href="#">
        <div class="sel map">
            <div class="ti">
                <img src="/media/store/com.rarefrostbites.7.find_the_lever.jpg" alt="Find the Lever">
            </div>
            <div class="ph">
                <div class="pi">
                    <div class="pt">
                        <h3>Find the Lever</h3>
                    </div>
                    <div class="pa">
                        <h4>RareFrostbites Team</h4>
                    </div>
                </div>
                <div class="pp">
                    <h3 data-pp>FREE</h3>
                </div>
            </div>
        </div>
    </a>
    
    <a href="#">
        <div class="sel map">
            <div class="ti">
                <img src="/media/store/com.rarefrostbites.6.halloween_endless_run.jpg" alt="Halloween Endless Run">
            </div>
            <div class="ph">
                <div class="pi">
                    <div class="pt">
                        <h3>Halloween Endless Run</h3>
                    </div>
                    <div class="pa">
                        <h4>RareFrostbites Team</h4>
                    </div>
                </div>
                <div class="pp">
                    <h3 data-pp>FREE</h3>
                </div>
            </div>
        </div>
    </a>
    
    <a href="#">
        <div class="sel skin">
            <div class="ti">
                <img src="/media/store/com.rarefrostbites.5.halloween_bundle.jpg" alt="RareFrostbites Halloween Skin Pack Bundle">
            </div>
            <div class="ph">
                <div class="pi">
                    <div class="pt">
                        <h3>RareFrostbites Halloween Skin Pack Bundle</h3>
                    </div>
                    <div class="pa">
                        <h4>RareFrostbites Team</h4>
                    </div>
                </div>
                <div class="pp">
                    <h3 data-pp>FREE</h3>
                </div>
            </div>
        </div>
    </a>
    
    <a href="#">
        <div class="sel map">
            <div class="ti">
                <img src="/media/store/com.rarefrostbites.4.apocalyptic_wars.jpg" alt="RareFrostbites Apocalyptic Wars">
            </div>
            <div class="ph">
                <div class="pi">
                    <div class="pt">
                        <h3>RareFrostbites Apocalyptic Wars</h3>
                    </div>
                    <div class="pa">
                        <h4>RareFrostbites Team</h4>
                    </div>
                </div>
                <div class="pp">
                    <h3 data-pp>FREE</h3>
                </div>
            </div>
        </div>
    </a>
    
    <a href="#">
        <div class="sel skin">
            <div class="ti">
                <img src="/media/store/com.rarefrostbites.3.glitched.jpg" alt="Glitched Skin Pack">
            </div>
            <div class="ph">
                <div class="pi">
                    <div class="pt">
                        <h3>Glitched Skin Pack</h3>
                    </div>
                    <div class="pa">
                        <h4>RareFrostbites Team</h4>
                    </div>
                </div>
                <div class="pp">
                    <h3 data-pp>FREE</h3>
                </div>
            </div>
        </div>
    </a>
    
    <a href="#">
        <div class="sel map">
            <div class="ti">
                <img src="/media/store/com.rarefrostbites.2.one_sky_block.jpg" alt="RareFrostbites One Block Sky Block">
            </div>
            <div class="ph">
                <div class="pi">
                    <div class="pt">
                        <h3>RareFrostbites One Block Sky Block</h3>
                    </div>
                    <div class="pa">
                        <h4>RareFrostbites Team</h4>
                    </div>
                </div>
                <div class="pp">
                    <h3 data-pp>FREE</h3>
                </div>
            </div>
        </div>
    </a>
    
    <a href="#">
        <div class="sel map">
            <div class="ti">
                <img src="/media/store/com.rarefrostbites.1.sky_world.jpg" alt="RareFrostbites Sky World">
            </div>
            <div class="ph">
                <div class="pi">
                    <div class="pt">
                        <h3>RareFrostbites Sky World</h3>
                    </div>
                    <div class="pa">
                        <h4>RareFrostbites Team</h4>
                    </div>
                </div>
                <div class="pp">
                    <h3 data-pp>FREE</h3>
                </div>
            </div>
        </div>
    </a>

    <!-- <a href="#">
        <div class="sel map">
            <div class="ti">
                <img src="/media/store/com.rarefrostbites.4.apocalyptic_wars.jpg" alt="">
            </div>
            <div class="ph">
                <div class="pi">
                    <div class="pt">
                        <h3>Halloween Endless Run</h3>
                    </div>
                    <div class="pa">
                        <h4>RareFrostbites Team</h4>
                    </div>
                </div>
                <div class="pp">
                    <h3 data-pp>FREE</h3>
                </div>
            </div>
        </div>
    </a>
    
    <a href="#">
        <div class="sel texture">
            <div class="ti">
                <img src="/media/store/com.rarefrostbites.10.ya_ea.jpg" alt="">
            </div>
            <div class="ph">
                <div class="pi">
                    <div class="pt">
                        <h3>Halloween Endless Run</h3>
                    </div>
                    <div class="pa">
                        <h4>RareFrostbites Team</h4>
                    </div>
                </div>
                <div class="pp">
                    <h3 data-pp>FREE</h3>
                </div>
            </div>
        </div>
    </a>
    
    <a href="#">
        <div class="sel skin">
            <div class="ti">
                <img src="/media/store/com.rarefrostbites.9.rarechristmas_bundle.jpg" alt="">
            </div>
            <div class="ph">
                <div class="pi">
                    <div class="pt">
                        <h3>Halloween Endless Run</h3>
                    </div>
                    <div class="pa">
                        <h4>RareFrostbites Team</h4>
                    </div>
                </div>
                <div class="pp">
                    <h3 data-pp>FREE</h3>
                </div>
            </div>
        </div>
    </a>
    
    <a href="#">
        <div class="sel mash-up">
            <div class="ti">
                <img src="/media/store/com.rarefrostbites.10.ya_ea.jpg" alt="">
            </div>
            <div class="ph">
                <div class="pi">
                    <div class="pt">
                        <h3>Halloween Endless Run</h3>
                    </div>
                    <div class="pa">
                        <h4>RareFrostbites Team</h4>
                    </div>
                </div>
                <div class="pp">
                    <h3 data-pp>FREE</h3>
                </div>
            </div>
        </div>
    </a> -->
</div>