.b {
    display: flex;
    width: 25px;
    height: 25px;
    align-items: center;
    justify-content: center;
}
.b:hover {
    background-color: #8e8e8e;
}
.b:active {
    background-color: #208100;
}

.b img {
    width: 20px;
    height: 20px;
}


@media only screen and (max-width: 753px) {
    .body .header a {
        margin-left: 25px;
    }
    

    .body .header_scroll a {
        margin-left: 25px;
    }
}

@media only screen and (min-width: 753px) {
    .body .header {
        padding-right: 3.4%;
        padding-left: 3.4%;
    }

    .body .header_scroll {
      padding-right: 3.4%;
      padding-left: 3.4%;
    }
}



.ecp {
    display: none;
    position: absolute;
    background-color: #00000071;
    width: 100%;
    height: 100vh;
    left: 0;
    top: 0;
    align-items: center;
    justify-content: center;
}

.ecp .e {
    display: flex;
    width: 100%;
    min-width: 320px;
    max-width: 660px;
    height: 100%;
    min-height: 320px;
    max-height: 1085px;
    overflow-y: auto;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
}
.ecp .e::-webkit-scrollbar {
    width: 0px;
    height: 0px;
}
.ecp .e {
    scrollbar-width: none;
}

.ecp .e .emb {
    display: contents;
    width: 100%;
    height: 100%;
    margin: auto;
}

.ecp .e .emb .emb-b1 {
    width: 100%;
    margin-bottom: auto;
    background-color: #000000;
    border-radius: 5px;
    border: 5px #000000 solid;
}
.ecp .e .emb .emb-b1:last-child {
    margin-bottom: 0px;
}
.ecp .e .emb .emb-b1 .emb-b2 {
    width: 100%;
    background-color: #ffffff;
    border-radius: 4px;
    border: 4px #ffffff solid;
}
.ecp .e .emb .emb-b1 .emb-b2 .emb-b3 {
    width: 100%;
    background-color: #c6c6c6;
    border-radius: 3px;
    border: 3px #c6c6c6 solid;
}
.ecp .e .emb .emb-b1 .emb-b2 .emb-b3 .emb-b4 {
    width: 100%;
    background-color: #010101;
    border: 3px #393939 solid;
}

.ecp .e .iframe {
    display: flex;
    width: 100%;
    max-width: 636px;
    height: 100%;
    max-height: 856px;
    padding: 15px !important;
    background-color: #212121 !important;
    align-items: flex-start;
    justify-content: flex-start;
    overflow: auto;
}
.ecp .e .iframe iframe {
    min-width: 320px;
    min-height: 500px;
    margin: auto;
}


@media only screen and (max-height: 1065px) {
    .ecp .e .iframe {
        max-height: 765px;
    }
}


@media only screen and (max-height: 992px) {
    .ecp .e .iframe {
        max-height: 692px;
    }
}


@media only screen and (max-height: 919px) {
    .ecp .e .iframe {
        max-height: 619px;
    }
}


@media only screen and (max-height: 846px) {
    .ecp .e .iframe {
        max-height: 546px;
    }
}


@media only screen and (max-height: 773px) {
    .ecp .e .iframe {
        max-height: 473px;
    }
}


@media only screen and (max-height: 700px) {
    .ecp .e .iframe {
        max-height: 400px;
    }
}

.ecp .e .controller {
    display: flex;
    height: 150px !important;
    flex-direction: column;
    align-items: center;
}

.ecp .e .controller .opt {
    width: 100%;
    height: 60%;
    margin-bottom: auto;
}
.ecp .e .controller .opt .size {
    display: flex;
    width: 100%;
    height: 100%;
    align-items: center;
}
.ecp .e .controller .opt .txt {
    display: flex;
    width: 110px;
    height: 100%;
    margin-left: 30px;
    justify-content: flex-start;
    align-items: center;
}
.ecp .e .controller .opt .opt_sel {
    display: flex;
    width: 70%;
    height: 100%;
    margin-right: 20px;
    margin-left: 20px;
    align-items: center;
}
.ecp .e .controller .opt .opt_sel .rad_sel {
    display: flex;
    height: 50px;
    margin: auto;
    flex-direction: column;
    align-items: center;
}
.ecp .e .controller .opt .opt_sel input[type="radio"] {
    display: none;
}
.ecp .e .controller .opt .opt_sel label {
    display: flex;
    margin-top: 10px;
    color: #fff;
    font-family: "Mojangles", "Unicode";
    font-size: 0.67rem;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: normal;
    -webkit-font-smoothing: subpixel-antialiased;
    flex-direction: column;
    align-items: center;
    cursor: pointer;
}
.ecp .e .controller .opt .opt_sel label::before {
    display: inline-block;
    width: 8px;
    height: 8px;
    content: "";
    border: 2px solid #222;
    background-color: #585658ff;
    margin-top: 5px;
    margin-bottom: 5px;
}
.ecp .e .controller .opt .opt_sel label::after {
    display: inline-block;
    width: 4px;
    height: 4px;
    content: "";
    border-top: 1.5px solid #ffffff00;
    border-right: 1.5px solid #ffffff00;
    border-bottom: 1.5px solid #8b8b8b00;
    border-left: 1.5px solid #8b8b8b00;
    background-color: #c2c2c200;
    margin-top: -27.5px;
    margin-right: auto;
    margin-bottom: 20px;
    margin-left: auto;
}
.ecp .e .controller .opt .opt_sel input[type="radio"]:checked + label::after {
    border-top: 1.5px solid #fff;
    border-right: 1.5px solid #fff;
    border-bottom: 1.5px solid #8b8b8bff;
    border-left: 1.5px solid #8b8b8bff;
    background-color: #c2c2c2ff;
}

.ecp .e .controller .btn {
    display: flex;
    width: 100%;
    height: 50px;
    justify-content: center;
    align-items: center;
}
.ecp .e .controller .btn button {
    display: flex;
    width: 100%;
    height: 100%;
    margin: 2.5px 2.5px 6px 2.5px;
    align-items: center;
    justify-content: center;
}
.ecp .e .controller .btn button img.f {
    width: 20px;
    height: 20px;
}
.ecp .e .controller .btn button img.hidden {
    display: none;
    width: 20px;
    height: 20px;
}
.ecp .e .controller .btn button:hover img.f {
    display: none;
}
.ecp .e .controller .btn button:hover img.hidden {
    display: block;
}
.ecp .e .controller .btn button:active img {
    transform: translateY(2.5px);
}
.ecp .e .controller .btn button:active img.f {
    display: none;
}
.ecp .e .controller .btn button:active img.hidden {
    display: block;
}
.ecp .e .controller .btn input {
    position: absolute;
    width: 10px;
    height: 10px;
    opacity: 0%;
    transform: translate(-100000px);
}