.b {
    display: flex;
    width: 25px;
    height: 25px;
    align-items: center;
    justify-content: center;
}
.b:hover {
    background-color: #8e8e8e;
}
.b:active {
    background-color: #208100;
}

.b img {
    width: 20px;
    height: 20px;
}


@media only screen and (max-width: 800px) {
    .body .header a {
        margin-left: 25px;
    }
    

    .body .header_scroll a {
        margin-left: 25px;
    }
}