<div class="phi">
    <div class="img">
        <img src="/media/store/assets/RFB Texture Packs.png" alt="Icon image filter Texture Pack">
    </div>
</div>
<hr>


<div class="packs">
    <a href="/store/com.rarefrostbites.10.ya_ea">
        <div class="sel texture">
            <div class="ti">
                <img src="/media/store/com.rarefrostbites.10.ya_ea.jpg" alt="Pack icon image Ya Ea">
            </div>
            <div class="ph">
                <div class="pi">
                    <div class="pt">
                        <h3>Ya Ea</h3>
                    </div>
                    <div class="pa">
                        <h4>RareFrostbites Team</h4>
                    </div>
                </div>
                <div class="pp">
                    <h3 data-pp-f></h3>
                </div>
            </div>
        </div>
    </a>
</div>