.body .content .intro {
  position: relative;
  font-size: 20px;
  margin-left: auto;
  margin-right: auto;
  min-height: 250px;
  text-align: center;
  background-color: #007054;
  border-radius: 0px 0px 30px 30px;
}

.body .content .intro .h1 {
  padding: 50px 20px 0px 20px;
  margin-bottom: 35px;
}

.body .content .intro .rfb_text img {
  width: 200px;
  height: 90px;
  margin-left: auto;
  margin-right: auto;
}



.body .content .packs_for_you {
  position: relative;
  width: 645px;
  height: 645px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 20px;
  display: block;
}



.body .content .packs_for_you img {
  position: absolute;
  width: 645px;
  height: 645px;
  z-index: inherit;
}



.body .content .packs_for_you iframe {
  width: 645px;
  height: 645px;
}



@media only screen and (max-width: 799.9px) {
  
}



@media only screen and (min-width: 800px) {
  .body .content .intro {
      width: 800px;
  }
}