.body .content .intro {
  position: relative;
  margin-left: auto;
  margin-right: auto;
  min-height: 250px;
  text-align: center;
  background-color: #007054;
  border-radius: 0px 0px 30px 30px;
}

.body .content .intro .h1 {
  padding: 50px 20px 0px 20px;
  margin-bottom: 35px;
}

.body .content .intro .rfb_text img {
  width: 200px;
  height: 90px;
  margin-left: auto;
  margin-right: auto;
}















.body .content .packs_for_you-mobile {
  position: relative;
  width: 320px;
  height: 320px;
  margin-top: 20px;
  margin-right: auto;
  margin-bottom: 35px;
  margin-left: auto;
  display: block;
}



.body .content .packs_for_you-mobile img {
  position: absolute;
  width: 320px;
  height: 320px;
  z-index: inherit;
}



.body .content .packs_for_you-mobile iframe {
  width: 320px;
  height: 320px;
}






.body .content .packs_for_you-desktop {
  position: relative;
  width: 500px;
  height: 500px;
  margin-top: 20px;
  margin-right: auto;
  margin-bottom: 35px;
  margin-left: auto;
  display: block;
}



.body .content .packs_for_you-desktop img {
  position: absolute;
  width: 500px;
  height: 500px;
  z-index: inherit;
}



.body .content .packs_for_you-desktop iframe {
  width: 500px;
  height: 500px;
}















.body .content .rfbstore {
  position: relative;
  margin-top: 100px;
  margin-right: auto;
  margin-bottom: 35px;
  margin-left: auto;
  text-align: center;
}



.body .content .rfbstore h1 {
  padding: 50px 20px 0px 20px;
  margin-bottom: 35px;
}



.body .content .rfbstore .rfbstore_button {
  display: inline-block;
  border: 3px solid #000;
}



.body .content .rfbstore .rfbstore_button button {
  background-color: #C6C6C6;
  padding: 19px 76px 19px 76px;
  border-radius: 0%;
  border-top: 2px solid #F2F2F2;
  border-right: 2px solid #646369;
  border-bottom: 2px solid #646369;
  border-left: 2px solid #F2F2F2;
  text-align: center;
}
.body .content .rfbstore .rfbstore_button button:hover {
  background-color: #208100;
  border-top: 2px solid #18BE05;
  border-right: 2px solid #004E00;
  border-bottom: 2px solid #004E00;
  border-left: 2px solid #18BE05;
  cursor: pointer;
}
.body .content .rfbstore .rfbstore_button button:active {
  background-color: #208100;
  border-top: 2px solid #004E00;
  border-right: 2px solid #18BE05;
  border-bottom: 2px solid #18BE05;
  border-left: 2px solid #004E00;
}



.body .content .rfbstore .rfbstore_button button h3 {
  font-family: Mojangles, Unicode;
  color: #404040;
  font-weight: normal;
}
.body .content .rfbstore .rfbstore_button button:hover h3 {
  color: #ffffff;
}
.body .content .rfbstore .rfbstore_button button:active h3 {
  color: #ffffff;
  transform: translateY(5px);
}



.body .content .rfbstore .rfbstore_animated-mobile img {
  width: 320px;
  height: 320px;
  margin-top: 20px;
  margin-right: auto;
  margin-left: auto;
}






.body .content .rfbstore .rfbstore_animated-desktop img {
  width: 500px;
  height: 500px;
  margin-top: 20px;
  margin-right: auto;
  margin-left: auto;
}















.body .content .products {
  position: relative;
  margin-top: 100px;
  margin-right: auto;
  margin-bottom: 35px;
  margin-left: auto;
  text-align: center;
}



.body .content .products h1 {
  margin-bottom: 35px;
}



.body .content .products .product-icon .container-sel-bounce {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 320px;
  height: 320px;
}



.body .content .products .product-icon .container-sel-bounce .container-sel {
  border-radius: 20px;
  padding: 20px;
  width: auto;
  height: auto;
  cursor: pointer;
  transition-duration: .2s ease-out;
  -webkit-transition-duration: .2s ease-out;
  -o-transition-duration: .2s ease-out;
}



.body .content .products .product-icon .container-sel-bounce .container-sel:hover {
  background-color: #ffffff43;
  transition-duration: .1s ease-out;
  -webkit-transition-duration: .1s ease-out;
  -o-transition-duration: .1s ease-out;
}



.body .content .products .product-icon .container-sel-bounce .container-sel:active {
  padding: 18px;
  background-color: #ffffff33;
  transition-duration: .1s ease-out;
  -webkit-transition-duration: .1s ease-out;
  -o-transition-duration: .1s ease-out;
}



.body .content .products .product-icon .container-sel-bounce .container-sel .container {
  width: 150px;
  height: 187px;
}



.body .content .products .product-icon .container-sel-bounce .container-sel .container .selection {
  width: 150px;
  height: 187px;
}



.body .content .products .product-icon .container-sel-bounce:active .container-sel:active .container .selection {
  width: 148px;
  height: 185px;
  margin: 1px 1px 1px 1px;
  transition-duration: .1s ease-out;
  -webkit-transition-duration: .1s ease-out;
  -o-transition-duration: .1s ease-out;
}



.body .content .products .product-icon .container-sel-bounce .container-sel .container .selection img {
  width: 150px;
  height: 150px;
}



.body .content .products .product-icon .container-sel-bounce:active .container-sel:active .container .selection img {
  width: 147px;
  height: 147px;
}



.body .content .products .product-icon .container-sel-bounce .container-sel .container .selection h3 {
  margin-top: 5px;
  font-size: 1.17rem;
}



.body .content .products .product-icon .container-sel-bounce:active .container-sel:active .container .selection h3 {
  margin-top: 6px;
  font-size: 1.1075rem;
}



.body .content .products .product-icon .container-sel-bounce .container-sel .container .selection h6 {
  color: #757575;
  font-size: .67rem;
}



.body .content .products .product-icon .container-sel-bounce:active .container-sel:active .container .selection h6 {
  font-size: .6075rem;
}















@media only screen and (max-width: 425px) {
  .body .content .products .product-icon .container-sel-bounce {
    margin-right: auto;
    margin-left: auto;
  }
}





@media only screen and (max-width: 500px) {
  .body .content .packs_for_you-mobile {
    display: block;
  }






  .body .content .packs_for_you-desktop {
    display: none;
  }














  
  .body .content .rfbstore .rfbstore_animated-mobile img {
    display: block;
  }





  
  .body .content .rfbstore .rfbstore_animated-desktop img {
    display: none;
  }





  
  .body .content .products h1 {
    padding: 50px 20px 0px 20px;
  }



  .body .content .products .product-icon .container-sel {
    margin-left: 0px;
    margin-right: 0px;
  }
}





@media only screen and (max-width: 500px) {
  .body .content .products .product-icon .container-sel-bounce {
    margin-left: auto;
    margin-right: auto;
  }
}





@media only screen and (min-width: 500px) {
  .body .content .products .product-icon .container-sel-bounce {
    margin-bottom: 50px;
  }
}





@media only screen and (min-width: 500px) {
  .body .content .packs_for_you-mobile {
    display: none;
  }






  .body .content .packs_for_you-desktop {
    display: block;
  }















  .body .content .rfbstore .rfbstore_animated-mobile img {
    display: none;
  }






  .body .content .rfbstore .rfbstore_animated-desktop img {
    display: block;
  }















  .body .content .products h1 {
    padding: 50px 80px 0px 80px;
  }



  .body .content .products .product-icon {
    display: flex;
    justify-content: center;
    vertical-align: top;
  }



  .body .content .products .product-icon .container-sel {
    margin-left: 40px;
    margin-right: 40px;
  }
}






@media only screen and (min-width: 800px) {
  .body .content .intro {
      width: 800px;
  }















  .body .content .products h1 {
    padding: 50px 100px 0px 100px;
  }
}