<div class="alert-cl" id="alert-cl" style="display: none;">
    <div class="alert-cl-h">
        <div class="alert-cl-h-h" id="alert-cl-h-h">
            <h3 data-cl></h3>
        </div>
    </div>
</div>

<div class="hp">
    <div class="pi s">
        <img src="/media/store/com.rarefrostbites.8.1st_century.jpg" alt="Pack icon image RareChristmas Bundle">
    </div>

    <div class="ph s">
        <div class="tt">
            <h2 data-pt></h2>
        </div>
        <div class="pa">
            <a href="/store/@rarefrostbites">
                <h4 data-pa></h4>
            </a>
        </div>

        <div class="d s">
            <a href="/store/com.rarefrostbites.8.1st_century" target="_blank">
                <div class="b">
                    <h3 data-pg-e></h3>
                    <div class="svg">
                        <svg
   width="180mm"
   height="180mm"
   viewBox="0 0 180 180"
   version="1.1"
   id="svg5"
   inkscape:version="1.1.1 (3bf5ae0d25, 2021-09-20)"
   sodipodi:docname="Open in New.svg"
   xmlns:inkscape="http://www.inkscape.org/namespaces/inkscape"
   xmlns:sodipodi="http://sodipodi.sourceforge.net/DTD/sodipodi-0.dtd"
   xmlns="http://www.w3.org/2000/svg"
   xmlns:svg="http://www.w3.org/2000/svg"
   xmlns:rdf="http://www.w3.org/1999/02/22-rdf-syntax-ns#"
   xmlns:cc="http://creativecommons.org/ns#"
   xmlns:dc="http://purl.org/dc/elements/1.1/">
  <sodipodi:namedview
     id="namedview7"
     pagecolor="#505050"
     bordercolor="#eeeeee"
     borderopacity="1"
     inkscape:pageshadow="0"
     inkscape:pageopacity="0"
     inkscape:pagecheckerboard="0"
     inkscape:document-units="mm"
     showgrid="false"
     inkscape:zoom="1"
     inkscape:cx="329"
     inkscape:cy="339.5"
     inkscape:window-width="1920"
     inkscape:window-height="1005"
     inkscape:window-x="-9"
     inkscape:window-y="-9"
     inkscape:window-maximized="1"
     inkscape:current-layer="layer1" />
  <defs
     id="defs2" />
  <g
     inkscape:label="Layer 1"
     inkscape:groupmode="layer"
     id="layer1">
    <path
       id="rect846"
       style="fill:#484d4a;fill-opacity:1;fill-rule:evenodd;stroke-width:0;stroke-linecap:round;stroke-linejoin:round"
       d="m 80.00059,20.000001 v 19.999852 h 19.99985 19.99985 v 19.999851 h 19.99985 V 80.00059 100.00044 H 160 V 80.00059 59.999704 39.999853 20.000001 h -19.99986 -19.99985 -19.99985 z m 39.9997,39.999703 H 100.00044 V 80.00059 h 19.99985 z M 100.00044,80.00059 H 80.00059 v 19.99985 h 19.99985 z M 80.00059,100.00044 H 59.999704 v 19.99985 H 80.00059 Z" />
    <path
       id="rect846-61"
       style="fill:#484d4a;fill-opacity:1;fill-rule:evenodd;stroke-width:0;stroke-linecap:round;stroke-linejoin:round"
       d="M 20.000001,20.000001 V 39.999853 59.999704 80.00059 100.00044 120.00029 140.00014 160 H 39.999853 59.999704 80.00059 100.00044 120.00029 140.00014 160 v -19.99986 -19.99985 h -19.99986 v 19.99985 H 120.00029 100.00044 80.00059 59.999704 39.999853 V 120.00029 100.00044 80.00059 59.999704 39.999853 H 59.999704 V 20.000001 H 39.999853 Z" />
  </g>
  <metadata
     id="metadata1550">
    <rdf:RDF>
      <cc:Work
         rdf:about="">
        <dc:title>Open in New</dc:title>
      </cc:Work>
    </rdf:RDF>
  </metadata>
</svg>
                    </div>
                    <div class="svg_i">
                        <svg
   width="180mm"
   height="180mm"
   viewBox="0 0 180 180"
   version="1.1"
   id="svg5"
   inkscape:version="1.1.1 (3bf5ae0d25, 2021-09-20)"
   sodipodi:docname="Open in New.svg"
   xmlns:inkscape="http://www.inkscape.org/namespaces/inkscape"
   xmlns:sodipodi="http://sodipodi.sourceforge.net/DTD/sodipodi-0.dtd"
   xmlns="http://www.w3.org/2000/svg"
   xmlns:svg="http://www.w3.org/2000/svg"
   xmlns:rdf="http://www.w3.org/1999/02/22-rdf-syntax-ns#"
   xmlns:cc="http://creativecommons.org/ns#"
   xmlns:dc="http://purl.org/dc/elements/1.1/">
  <sodipodi:namedview
     id="namedview7"
     pagecolor="#505050"
     bordercolor="#eeeeee"
     borderopacity="1"
     inkscape:pageshadow="0"
     inkscape:pageopacity="0"
     inkscape:pagecheckerboard="0"
     inkscape:document-units="mm"
     showgrid="false"
     inkscape:zoom="1"
     inkscape:cx="329"
     inkscape:cy="339.5"
     inkscape:window-width="1920"
     inkscape:window-height="1005"
     inkscape:window-x="-9"
     inkscape:window-y="-9"
     inkscape:window-maximized="1"
     inkscape:current-layer="layer1" />
  <defs
     id="defs2" />
  <g
     inkscape:label="Layer 1"
     inkscape:groupmode="layer"
     id="layer1">
    <path
       id="rect846"
       style="fill:#ffffff;fill-opacity:1;fill-rule:evenodd;stroke-width:0;stroke-linecap:round;stroke-linejoin:round"
       d="m 80.00059,20.000001 v 19.999852 h 19.99985 19.99985 v 19.999851 h 19.99985 V 80.00059 100.00044 H 160 V 80.00059 59.999704 39.999853 20.000001 h -19.99986 -19.99985 -19.99985 z m 39.9997,39.999703 H 100.00044 V 80.00059 h 19.99985 z M 100.00044,80.00059 H 80.00059 v 19.99985 h 19.99985 z M 80.00059,100.00044 H 59.999704 v 19.99985 H 80.00059 Z" />
    <path
       id="rect846-61"
       style="fill:#ffffff;fill-opacity:1;fill-rule:evenodd;stroke-width:0;stroke-linecap:round;stroke-linejoin:round"
       d="M 20.000001,20.000001 V 39.999853 59.999704 80.00059 100.00044 120.00029 140.00014 160 H 39.999853 59.999704 80.00059 100.00044 120.00029 140.00014 160 v -19.99986 -19.99985 h -19.99986 v 19.99985 H 120.00029 100.00044 80.00059 59.999704 39.999853 V 120.00029 100.00044 80.00059 59.999704 39.999853 H 59.999704 V 20.000001 H 39.999853 Z" />
  </g>
  <metadata
     id="metadata1550">
    <rdf:RDF>
      <cc:Work
         rdf:about="">
        <dc:title>Open in New</dc:title>
      </cc:Work>
    </rdf:RDF>
  </metadata>
</svg>
                    </div>
                </div>
            </a>
        </div>
    </div>
</div>

<div class="share">
    <div class="holder">
        <input type="text" id="cl" value="https://rarefrostbites.pages.dev/store/com.rarefrostbites.8.1st_century" readonly/>
        <button onclick="copylink('cl')">
            <img src="/media/store/assets/icons/texture/Share-RFB.svg" alt="Share icon">
        </button>
        
        <a href="https://www.facebook.com/sharer/sharer.php?u=https%3A%2F%2Frarefrostbites.pages.dev%2Fstore%2Fcom.rarefrostbites.8.1st_century&amp;src=sdkpreparse" target="_blank">
            <button>
                <img src="/media/store/assets/Facebook-share.svg" alt="Facebook Share Plugin">
            </button>
        
        <a href="https://www.reddit.com/submit?url=https://rarefrostbites.pages.dev/store/com.rarefrostbites.8.1st_century&title=Check%20out%201st%20Century%20made%20on%20RFB%20Store" target="_blank">
            <button>
                <img src="/media/store/assets/Reddit-share.svg" alt="Reddit Share Plugin">
            </button>
        </a>
    </div>
</div>

<div class="pps">
    <div class="pps-h" style="max-width: 320px;">
        <div class="pps-s" style="min-width: 320px; align-items: normal;">
            <div class="fb-video" data-href="https://www.facebook.com/RareFrostbites/videos/541831637672091/" data-width="320" data-show-text="false"><blockquote cite="https://www.facebook.com/RareFrostbites/videos/541831637672091/" class="fb-xfbml-parse-ignore" style="opacity: 0%;"><a href="https://www.facebook.com/RareFrostbites/videos/541831637672091/">1st Century - Skin Pack Trailer</a><p>Troll your friends into a dark and scary place.  Get your head cut off, and shout!

                Get it now
                RFB Store: https://rarefrostbites.github.io/store/1st_Century

                Trailer by UserNameGoesHere: https://www.youtube.com/c/UserNameGoesHere

                ⚠️READ RULES AND REGULATIONS⚠️(on the Map file)

                Credits to the Music: ▶▶▶
                Music: Silence
                Artist: Lucas King
                Link: https://music.youtube.com/watch?v=tTuNaZZT11M

                Contact Us:
                • Gmail - rarefrostbitesteam&#064;gmail.com
                • Outlook - rarefrostbitesteam&#064;outlook.com

                #RareFrostbites
                #RareFrostbites_Skin_Packs
                #1st_Century</p>Posted by <a href="https://www.facebook.com/RareFrostbites/">RareFrostbites Team</a> on Monday, June 20, 2022</blockquote></div>
        </div>
    </div>
</div>

<!-- Pack Information -->
<div class="pi-b1">
    <div class="pi-b2">
        <div class="pi-b3">
            <div class="pi-b4">
                <div class="pi-d">
                    <h5 id="pi-d" data-pd></h5>
                </div>
            
                <hr>
            
                <div class="pi-m">
                    <div class="tag_i">
                        <div class="tags">
                            <h2 data-tags></h2>
                        </div>
                        <div class="tags_i">
                            <div class="t b1">
                                <div class="b2">
                                    <h6 data-tags_i-Group></h6>
                                </div>
                            </div>
                            
                            <div class="t b1">
                                <div class="b2">
                                    <h6 data-tags_i-Stylized></h6>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="genre_i">
                        <div class="genres">
                            <h2 data-genres></h2>
                        </div>
                        <div class="genres_i">
                            <div class="t b1">
                                <div class="b2">
                                    <h5 data-genres_i-Christmas></h5>
                                </div>
                            </div>

                            <!-- <div class="t s">
                                <h6>•</h6>
                            </div>
                            
                            <div class="t b1">
                                <div class="b2">
                                    <h5 data-genres_i->NA</h5>
                                </div>
                            </div> -->
                        </div>
                    </div>

                    <!-- <div class="player_i">
                        <div class="players">
                            <h2 data-players></h2>
                        </div>
                        <div class="players_i">
                            <div class="t b1">
                                <div class="b2">
                                    <h5 data-players_i->NA</h5>
                                </div>
                            </div>

                            <div class="t s">
                                <h6>•</h6>
                            </div>
                            
                            <div class="t b1">
                                <div class="b2">
                                    <h5 data-players_i->NA</h5>
                                </div>
                            </div>
                        </div>
                    </div> -->
                </div>
            
                <div class="button">
                    <button id="button-d" onclick="readMorePD()">
                        <h2 id="show-d">+</h2>
                    </button>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- Changelogs -->
<!-- <div class="pi-b1">
    <div class="pi-b2">
        <div class="pi-b3">
            <div class="pi-b4">
                <div class="pi-chlgs">
                    <h5 id="pi-chlgs-unread">WWWWWWWWWWWWWWW<br><br>

                        WWWWW
                    </h5>
                </div>

                <div class="pi-cr" id="pi-cr">
                    <h5 onclick="readMoreCHLGS()" data->Continue reading...</h5>
                </div>

                <div class="button">
                    <button id="button-chlgs" onclick="readMoreCHLGS()">
                        <h2 id="show-chlgs">+</h2>
                    </button>
                </div>
            </div>
        </div>
    </div>
</div> -->