@font-face {
    src: url("/fonts/platfom/discord/Ginto.ttf") format('truetype');
    font-family: Discord_Ginto;
    font-display: fallback;
}

@font-face {
    src: url("/fonts/platfom/discord/Whitney-Medium.ttf") format('truetype');
    font-family: Discord_Whitney;
    font-display: fallback;
}

@font-face {
    src: url("/fonts/platfom/guilded/Gotham.ttf") format('truetype');
    font-family: Guilded_Gotham;
    font-display: fallback;
}
@font-face {
    src: url("/fonts/platfom/guilded/Gotham_Bold.ttf") format('truetype');
    font-family: Guilded_GothamBold;
    font-display: fallback;
}