.body .header {
  position: fixed;
  top: 0;
  z-index: 2;
  background-color: #c6c6c6;
  border-bottom: 5px solid #575558;
  height: 60px;
  width: 100%;
  display: flex;
  align-items: center;
}
.body .header_scroll {
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  z-index: 2;
  background-color: #c6c6c6;
  border-bottom: 5px solid #575558;
  height: 60px;
  width: 100%;
  margin-bottom: -80px;
  display: flex;
  align-items: center;
}

.body .header .mobile-logo {
  position: fixed;
  margin-right: auto;
  margin-left: auto;
  z-index: 2;
  top: 14px;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.body .header .mobile-logo img {
  width: 30.325px;
}
.body .header_scroll .mobile-logo {
  position: fixed;
  z-index: 2;
  top: 14px;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.body .header_scroll .mobile-logo img {
  width: 30.325px;
}

.body .header .desktop-logo {
  display: block;
  z-index: 2;
  top: 14px;
  left: 20px;
  display: flex;
  justify-content: left;
  align-items: center;
}
.body .header_scroll .desktop-logo {
  display: block;
  z-index: 2;
  top: 14px;
  left: 20px;
  display: flex;
  justify-content: left;
  align-items: center;
}


.body .header .language .current {
  position: absolute;
  display: flex;
  z-index: 3;
  top: 13px;
  right: 0px;
  margin-right: 39px;
  padding: 5px;
  width: 60px;
  height: 28px;
  cursor: pointer;
  align-items: center;
  justify-content: space-between;
}
.body .header .language .current:hover { 
  background-color: #8e8e8e;
}
.body .header .language .current:active {
  background-color: #208100;
}

.body .header_scroll .language .current {
  position: absolute;
  display: flex;
  z-index: 3;
  top: 13px;
  right: 0px;
  margin-right: 39px;
  padding: 5px;
  width: 60px;
  height: 28px;
  cursor: pointer;
  align-items: center;
  justify-content: space-between;
}
.body .header_scroll .language .current:hover {
  background-color: #8e8e8e;
}
.body .header_scroll .language .current:active {
  background-color: #208100;
}

.body .header .language .current h6 {
  color: #484d4a;
  font-family: "MC10";
}
.body .header_scroll .language .current h6 {
  color: #484d4a;
  font-family: "MC10";
}


.body .header .language .selection {
  position: absolute;
  display: none;
  z-index: 6;
  flex-direction: column;
  float: right;
  padding: 8px 5px 8px 5px;
  top: 45px;
  right: 12px;
  width: 100px;
  height: 265px;
  background-color: #2f2f2f;
  border: 6px solid #1b1b1b;
  border-bottom: 5px solid #1b1b1b;
  align-content: center;
  overflow-y: scroll;
}
.body .header .language .selection::-webkit-scrollbar {
  width: 17px;
  height: 17px;
  background-color: #434343;
}
.body .header .language .selection::-webkit-scrollbar-track {
  background-color: #434343;
  border: 5px solid #1b1b1b;
}
.body .header .language .selection::-webkit-scrollbar-thumb {
  border: 5px solid #1b1b1b;
}
.body .header_scroll .language .selection {
  position: absolute;
  display: none;
  z-index: 6;
  flex-direction: column;
  float: right;
  padding: 8px 5px 8px 5px;
  top: 45px;
  right: 12px;
  width: 100px;
  height: 265px;
  background-color: #2f2f2f;
  border: 6px solid #1b1b1b;
  border-bottom: 5px solid #1b1b1b;
  align-content: center;
  overflow-y: scroll;
}
.body .header_scroll .language .selection::-webkit-scrollbar {
  width: 17px;
  height: 17px;
  background-color: #434343;
}
.body .header_scroll .language .selection::-webkit-scrollbar-track {
  background-color: #434343;
  border: 5px solid #1b1b1b;
}
.body .header_scroll .language .selection::-webkit-scrollbar-thumb {
  border: 5px solid #1b1b1b;
}

.body .header .language .selection .select:hover {
  background-color: #ffffff43;
  animation-duration: 0.1s;
}
.body .header .language .selection .select:active {
  background-color: #ffffff33;
  animation-duration: 0.1s;
}
.body .header_scroll .language .selection .select:hover {
  background-color: #ffffff43;
  animation-duration: 0.1s;
}
.body .header_scroll .language .selection .select:active {
  background-color: #ffffff33;
  animation-duration: 0.1s;
}

.body .header .language .selection .select a {
  padding: 5px;
  display: flex;
  height: 30px;
  margin-top: 2.5px;
  margin-bottom: 2.5px;
  animation-duration: 0.2s;
  align-items: center;
  justify-content: space-between;
}
.body .header_scroll .language .selection .select a {
  padding: 5px;
  display: flex;
  height: 30px;
  margin-top: 2.5px;
  margin-bottom: 2.5px;
  animation-duration: 0.2s;
  align-items: center;
  justify-content: space-between;
}

.body .header .language .selection .select a h5 {
  font-family: "MC10";
  display: flex;
  align-items: center;
  text-decoration: none;
}
.body .header_scroll .language .selection .select a h5 {
  font-family: "MC10";
  display: flex;
  align-items: center;
  text-decoration: none;
}

@media only screen and (max-width: 799px) {
  .body .header .desktop-logo {
    display: none;
  }

  .body .header_scroll .desktop-logo {
    display: none;
  }
}

@media only screen and (min-width: 800px) {
  .body .header {
    padding-right: 50px;
    padding-left: 50px;
  }

  .body .header_scroll {
    padding-right: 50px;
    padding-left: 50px;
  }

  .body .header .mobile-logo {
    display: none;
  }

  .body .header_scroll .mobile-logo {
    display: none;
  }

  .body .header .desktop-logo img {
    width: 130px;
  }

  .body .header_scroll .desktop-logo img {
    width: 130px;
  }
}

@media only screen and (min-width: 2000px) {
  .body .header {
    padding-right: 10%;
    padding-left: 10%;
  }

  .body .header_scroll {
    padding-right: 10%;
    padding-left: 10%;
  }
}
