<div class="social_media">
  <div class="image-logo">
    <div class="image-bounce">
      <div class="image">
        <a href="https://fb.me/RareFrostbites" target="_blank">
          <img
            src="/media/assets/social_media/facebook.svg"
            alt="Facebook logo"
          />
        </a>
      </div>
    </div>

    <div class="image-bounce">
      <div class="image">
        <a
          href="https://youtube.com/channel/UCYOjFfGHdOmgvpSKmbmonhg"
          target="_blank"
        >
          <img
            src="/media/assets/social_media/youtube.svg"
            alt="YouTube logo"
          />
        </a>
      </div>
    </div>

    <div class="image-bounce">
      <div class="image">
        <a href="https://tiktok.com/@rarefrostbites" target="_blank">
          <img src="/media/assets/social_media/tiktok.svg" alt="TikTok logo" />
        </a>
      </div>
    </div>

    <div class="image-bounce">
      <div class="image">
        <a href="https://discord.gg/Rz5y9S4kj9" target="_blank">
          <img
            src="/media/assets/social_media/discord.svg"
            alt="Discord logo"
          />
        </a>
      </div>
    </div>

    <div class="image-bounce">
      <div class="image">
        <a href="https://omlet.gg/squad/6ISP1FC31YVJ3N4YI" target="_blank">
          <img
            src="/media/assets/social_media/omlet_arcade.svg"
            alt="Omlet Arcade logo"
          />
        </a>
      </div>
    </div>

    <div class="image-bounce">
      <div class="image">
        <a href="https://reddit.com/r/RareFrostbites" target="_blank">
          <img src="/media/assets/social_media/reddit.svg" alt="Reddit logo" />
        </a>
      </div>
    </div>

    <div class="image-bounce">
      <div class="image">
        <a href="https://instagram.com/rarefrostbites" target="_blank">
          <img
            src="/media/assets/social_media/instagram.svg"
            alt="Instagram logo"
          />
        </a>
      </div>
    </div>
  </div>

  <div class="image-logo">
    <div class="image-bounce">
      <div class="image">
        <a href="https://t.me/rarefrostbites" target="_blank">
          <img
            src="/media/assets/social_media/telegram.svg"
            alt="Telegram logo"
          />
        </a>
      </div>
    </div>

    <div class="image-bounce">
      <div class="image">
        <a href="https://guilded.gg/RareFrostbites" target="_blank">
          <img
            src="/media/assets/social_media/guilded.svg"
            alt="Guilded logo"
          />
        </a>
      </div>
    </div>
  </div>
</div>
