<a href="/store/">
  <div class="mobile-logo">
    <img src="/media/store/rfbstore.svg" alt="RFB Store logo" />
  </div>
</a>

<a href="/store/">
  <div class="desktop-logo">
    <picture>
      <source
        srcset="/media/store/rfbstore_logowithwordmark.svg"
        media="(min-width: 800px)"
        width="130px"
      />

      <img
        src="/media/store/rfbstore.svg"
        alt="RareFrostbites logo"
        width="30.325px"
      />
      </picture>
  </div>
</a>

<span class="user notranslate">
  <div class="language" id="language">
    <div class="current" id="current" onclick="openLanguage()">
      <img src="https://flagcdn.com/us.svg" width="30" alt="United States" />
      <h6>US</h6>
    </div>

    <div class="selection" id="selection">
      <div class="select" style="margin-top: 0px">
        <a href="?lang=zh-cn">
          <img src="https://flagcdn.com/cn.svg" width="30" alt="China" />
          <h5>
            CN
          </h5>
        </a>
      </div>
      <div class="select">
        <a href="?lang=es-es">
          <img src="https://flagcdn.com/es.svg" width="30" alt="Spain" />
          <h5>
            ES
          </h5>
        </a>
      </div>
      <div class="select">
        <a href="?lang=en-gb">
          <img src="https://flagcdn.com/gb.svg" width="30" alt="Great Britain" />
            <h5>
            GB
          </h5>
        </a>
      </div>
      <div class="select">
        <a href="?lang=id-id">
          <img src="https://flagcdn.com/id.svg" width="30" alt="Indonesia" />
          <h5>
            ID
          </h5>
        </a>
      </div>
      <div class="select">
        <a href="?lang=hi-in">
          <img src="https://flagcdn.com/in.svg" width="30" alt="India" />
          <h5>
            IN
          </h5>
        </a>
      </div>
      <div class="select">
        <a href="?lang=ja-jp">
            <img src="https://flagcdn.com/jp.svg" width="30" alt="Japan" />
          <h5>
            JP
          </h5>
        </a>
      </div>
      <div class="select">
        <a href="?lang=km-kh">
          <img src="https://flagcdn.com/kh.svg" width="30" alt="Cambodia" />
          <h5>
            KH
          </h5>
        </a>
      </div>
      <div class="select">
        <a href="?lang=ko-kr">
            <img src="https://flagcdn.com/kr.svg" width="30" alt="Korea" />
          <h5>
            KR
          </h5>
        </a>
      </div>
      <div class="select">
        <a href="?lang=my-mm">
          <img src="https://flagcdn.com/mm.svg" width="30" alt="Myanmar" />
          <h5>
            MM
          </h5>
        </a>
      </div>
      <div class="select">
        <a href="?lang=ms-my">
          <img src="https://flagcdn.com/my.svg" width="30" alt="Malaysia" />
          <h5>
            MY
          </h5>
        </a>
      </div>
      <div class="select">
        <a href="?lang=fil-ph">
          <img src="https://flagcdn.com/ph.svg" width="30" alt="Philippines" />
          <h5>
            PH
          </h5>
        </a>
      </div>
      <div class="select">
        <a href="?lang=pt-pt">
          <img src="https://flagcdn.com/pt.svg" width="30" alt="Portugal" />
          <h5>
            PT
          </h5>
        </a>
      </div>
      <div class="select">
        <a href="?lang=ru-ru">
          <img src="https://flagcdn.com/ru.svg" width="30" alt="Russia" />
          <h5>
            RU
          </h5>
        </a>
      </div>
      <div class="select">
        <a href="?lang=zh-tw">
          <img src="https://flagcdn.com/tw.svg" width="30" alt="Taiwan" />
          <h5>
            TW
          </h5>
        </a>
      </div>
      <div class="select">
        <a href="?lang=en-us">
          <img src="https://flagcdn.com/us.svg" width="30" alt="United States" />
          <h5>
            US
          </h5>
        </a>
      </div>
      <div class="select" style="margin-bottom: 0px">
        <a href="?lang=vi-vn">
          <img src="https://flagcdn.com/vn.svg" width="30" alt="Vietnam" />
          <h5>
            VN
          </h5>
        </a>
      </div>
    </div>
  </div>
</span>