<div class="alert-cl" id="alert-cl" style="display: none;">
    <div class="alert-cl-h">
        <div class="alert-cl-h-h" id="alert-cl-h-h">
            <h3 data-cl></h3>
        </div>
    </div>
</div>

<div class="alert-dl" id="alert-dl" style="display: none;">
    <div class="alert-dl-h">
        <div class="alert-dl-h-h" id="alert-dl-h-h">
            <h3 data-dl></h3>
        </div>
    </div>
</div>

<div class="alert-cec" id="alert-cec" style="display: none;">
    <div class="alert-cec-h">
        <div class="alert-cec-h-h" id="alert-cec-h-h">
            <h3 data-cle></h3>
        </div>
    </div>
</div>

<div class="ecp" id="ecp">
    <div class="e">
        <div class="emb">
            <div class="emb-b1">
                <div class="emb-b2">
                    <div class="emb-b3">
                        <div class="emb-b4 iframe">
                            
                        </div>
                    </div>
                </div>
            </div>
            <div class="emb-b1">
                <div class="emb-b2">
                    <div class="emb-b3">
                        <div class="emb-b4 controller">
                            <div class="opt">
                                <div class="size">
                                    <div class="txt">
                                        <h4>width</h4>
                                    </div>
                                    <div class="opt_sel">
                                        <div class="rad_sel">
                                            <input type="radio" id="unsel1w" name="emb_width" />
                                            <label for="unsel1w" onclick="changeSize1()">300</label>
                                        </div>
                                        
                                        <div class="rad_sel">
                                            <input type="radio" id="unsel2w" name="emb_width" checked />
                                            <label for="unsel2w" onclick="changeSize2()">320</label>
                                        </div>
                                        
                                        <div class="rad_sel">
                                            <input type="radio" id="unsel3w" name="emb_width" />
                                            <label for="unsel3w" onclick="changeSize3()">400</label>
                                        </div>
    
                                        <div class="rad_sel">
                                            <input type="radio" id="unsel4w" name="emb_width" />
                                            <label for="unsel4w" onclick="changeSize4()">500</label>
                                        </div>
                                        
                                        <div class="rad_sel">
                                            <input type="radio" id="unsel5w" name="emb_width" />
                                            <label for="unsel5w" onclick="changeSize5()">600</label>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="btn">
                                <button onclick="closeECP()">
                                    <img src="/media/store/assets/icons/gray/Close.svg" class="f" alt="Icon image">
                                    <img src="/media/store/assets/icons/white/Close.svg" class="hidden" alt="Icon image">
                                </button>
                                <button onclick="copyembedcode('iframe_c')">
                                    <img src="/media/store/assets/icons/gray/Share.svg" class="f" alt="Icon image">
                                    <img src="/media/store/assets/icons/white/Share.svg" class="hidden" alt="Icon image">
                                </button>
                                
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="hp">
    <div class="pi t">
        
    </div>

    <div class="ph t">
        <div class="tt">
            <h2 data-pt></h2>
        </div>
        <div class="pa">
            
        </div>

        <div class="d t">
            <div class="b_disabled" id="b-blocked">
                <h3 data-pg></h3>
            </div>
        </div>
    </div>
</div>

<div class="share">
    <div class="holder">
        
    </div>
</div>

<div class="pps">
    
</div>

<!-- Pack Information -->
<div class="pi-b1">
    
</div>

<!-- Changelogs -->
<div class="chlgs-b1">
    
</div>

<!-- About Pack -->
<div class="ab-b1">
    
</div>

<!-- Ratings -->
<div class="pr">
    
</div>

<!-- More from the author -->
<div class="mfa">
    
</div>