<h1>Why apply?</h1>

<div class="intro">
  <div class="contain">
    <img
      src="../../media/assets/icons/outlined/white/Clock.svg"
      alt="Clock icon"
    />
    <h2>
      Your time is
      <span class="highlight" style="color: #00ffba">yours</span>
    </h2>
    <h5>
      You have control to your time, you can join whatever you want, on your own
      pace.
    </h5>
  </div>

  <div class="contain">
    <img
      src="../../media/assets/icons/outlined/white/Celebration.svg"
      alt="Celebration icon"
    />
    <h2>
      It is
      <span class="highlight" style="color: #00ffba">fun</span>
    </h2>
    <h5>
      Especially if you have many people inside your project. That'd be a
      memorable. :)
    </h5>
  </div>
</div>

<div class="intro" style="margin-top: 0px; justify-content: center">
  <div class="contain">
    <img
      src="../../media/assets/icons/outlined/white/Good Mood.svg"
      alt="Good Mood icon"
    />
    <h2>
      Makes you
      <span class="highlight" style="color: #00ffba">motivated</span>
    </h2>
    <h5>
      Do you have a dream to become a Pack Creator? Practice your dream here.
    </h5>
  </div>
</div>

<div class="button-apply">
  <div class="apply-int-bounce">
    <a href="start/">
      <div class="apply-int">
        <div class="apply">
          <div class="selection">
            <button>Apply</button>
          </div>
        </div>
      </div>
    </a>
  </div>
</div>
