<h1>¿Por qué aplicar?</h1>

<div class="intro">
  <div class="contain">
    <img
      src="../../media/assets/icons/outlined/white/Clock.svg"
      alt="Icono Clock"
    />
    <h2>
      Tu tiempo es
      <span class="highlight" style="color: #00ffba">tuyo</span>
    </h2>
    <h5>
      Tienes el control de tu tiempo, puedes unirte a lo que quieras, a tu
      propio ritmo.
    </h5>
  </div>

  <div class="contain">
    <img
      src="../../media/assets/icons/outlined/white/Celebration.svg"
      alt="Icono Celebration"
    />
    <h2>
      Es
      <span class="highlight" style="color: #00ffba">divertido</span>
    </h2>
    <h5>
      Sobre todo si tienes mucha gente dentro de tu proyecto. Eso sería
      memorable. :)
    </h5>
  </div>
</div>

<div class="intro" style="margin-top: 0px; justify-content: center">
  <div class="contain">
    <img
      src="../../media/assets/icons/outlined/white/Good Mood.svg"
      alt="Icono Good Mood"
    />
    <h2>
      Te
      <span class="highlight" style="color: #00ffba">motiva</span>
    </h2>
    <h5>
      ¿Tienes el sueño de convertirte en un Creador de Paquetes? Practica tu
      sueño aquí.
    </h5>
  </div>
</div>

<div class="button-apply">
  <div class="apply-int-bounce">
    <a href="start/">
      <div class="apply-int">
        <div class="apply">
          <div class="selection">
            <button>Aplicar</button>
          </div>
        </div>
      </div>
    </a>
  </div>
</div>
