<h1>Bakit mag-apply?</h1>

<div class="intro">
  <div class="contain">
    <img
      src="../../media/assets/icons/outlined/white/Clock.svg"
      alt="Clock na icon"
    />
    <h2>
      <span class="highlight" style="color: #00ffba">Sa'yo</span>
      lang ang oras mo
    </h2>
    <h5>
      May control ka sa oras mo, pwede kang mag-join whatever you want, on your
      own pace.
    </h5>
  </div>

  <div class="contain">
    <img
      src="../../media/assets/icons/outlined/white/Celebration.svg"
      alt="Celebration na icon"
    />
    <h2>
      <span class="highlight" style="color: #00ffba">Masaya</span>
      s'ya
    </h2>
    <h5>
      Lalo na't kapag marami kayo sa loob ng project. Magiging memorable 'yun
      sa'yo. :)
    </h5>
  </div>
</div>

<div class="intro" style="margin-top: 0px; justify-content: center">
  <div class="contain">
    <img
      src="../../media/assets/icons/outlined/white/Good Mood.svg"
      alt="Good Mood na icon"
    />
    <h2>
      Magiging
      <span class="highlight" style="color: #00ffba">motivated</span>
      ka
    </h2>
    <h5>
      May pangarap ka bang maging Pack Creator? I-practice mo yung pangarap mo
      dito.
    </h5>
  </div>
</div>

<div class="button-apply">
  <div class="apply-int-bounce">
    <a href="start/">
      <div class="apply-int">
        <div class="apply">
          <div class="selection">
            <button>Um-apply</button>
          </div>
        </div>
      </div>
    </a>
  </div>
</div>
