<h1>क्यों लागू करें?</h1>

<div class="intro">
  <div class="contain">
    <img
      src="../../media/assets/icons/outlined/white/Clock.svg"
      alt="Clock आइकन"
    />
    <h2>
      आपका समय
      <span class="highlight" style="color: #00ffba">आपका</span>
      है
    </h2>
    <h5>
      आपके पास अपने समय पर नियंत्रण है, आप जो कुछ भी चाहते हैं, अपनी गति से
      उसमें शामिल हो सकते हैं।
    </h5>
  </div>

  <div class="contain">
    <img
      src="../../media/assets/icons/outlined/white/Celebration.svg"
      alt="Celebration आइकन"
    />
    <h2>
      यह
      <span class="highlight" style="color: #00ffba">मजेदार</span>
      है
    </h2>
    <h5>
      खासकर यदि आपके पास अपनी परियोजना के अंदर कई लोग हैं। यह एक यादगार होगा। :)
    </h5>
  </div>
</div>

<div class="intro" style="margin-top: 0px; justify-content: center">
  <div class="contain">
    <img
      src="../../media/assets/icons/outlined/white/Good Mood.svg"
      alt="Good Mood आइकन"
    />
    <h2>
      आपको
      <span class="highlight" style="color: #00ffba">प्रेरित</span>
      करता है
    </h2>
    <h5>
      क्या आपके पास पैक निर्माता बनने का सपना है? यहां अपने सपने का अभ्यास करें।
    </h5>
  </div>
</div>

<div class="button-apply">
  <div class="apply-int-bounce">
    <a href="start/">
      <div class="apply-int">
        <div class="apply">
          <div class="selection">
            <button>लागू करना</button>
          </div>
        </div>
      </div>
    </a>
  </div>
</div>
