<h1>なぜ応募するのですか?</h1>

<div class="intro">
  <div class="contain">
    <img
      src="../../media/assets/icons/outlined/white/Clock.svg"
      alt="Clockアイコン"
    />
    <h21>
      あなたの時間
      <span
        class="highlight"
        style="color: #00ffba"
        >はあなたのです</span
      >
    </h2>
    <h5>
      あなたはあなたの時間に制御を持っている、あなたは自分のペースで、あなたが望むものは何でも参加することができます。
    </h5>
  </div>

  <div class="contain">
    <img
      src="../../media/assets/icons/outlined/white/Celebration.svg"
      alt="Celebrationアイコン"
    />
    <h22>
      それは
      <span
        class="highlight"
        style="color: #00ffba"
        >楽しいです</span
      >
    </h2>
    <h5>
      特にプロジェクト内に多くの人がいる場合。それは思い出に残るでしょう。:)
    </h5>
  </div>
</div>

<div class="intro" style="margin-top: 0px; justify-content: center">
  <div class="contain">
    <img
      src="../../media/assets/icons/outlined/white/Good Mood.svg"
      alt="Good Moodアイコン"
    />
    <h23>
      やる
      <span
        class="highlight"
        style="color: #00ffba"
        >気を引き出す</span
      >
    </h2>
    <h5>
      パッククリエイターになる夢はありますか?ここであなたの夢を練習してください。
    </h5>
  </div>
</div>

<div class="button-apply">
  <div class="apply-int-bounce">
    <a href="start/">
      <div class="apply-int">
        <div class="apply">
          <div class="selection">
            <button>申し込む</button>
          </div>
        </div>
      </div>
    </a>
  </div>
</div>
