<h1>ហេតុអ្វីអនុវត្ត?</h1>

<div class="intro">
  <div class="contain">
    <img
      src="../../media/assets/icons/outlined/white/Clock.svg"
      alt="រូបតំណាង Clock"
    />
    <h21>
      ពេល វេលា របស់
      <span
        class="highlight"
        style="color: #00ffba"
        >អ្នក គឺ ជា របស់ អ្នក</span
      >
    </h2>
    <h5>
      អ្នក មាន ការ គ្រប់ គ្រង ដល់ ពេល វេលា របស់ អ្នក អ្នក អាច ចូល រួម អ្វី ក៏ ដោយ ដែល អ្នក ចង់ បាន តាម ល្បឿន របស់ អ្នក ផ្ទាល់ ។
    </h5>
  </div>

  <div class="contain">
    <img
      src="../../media/assets/icons/outlined/white/Celebration.svg"
      alt="រូបតំណាង Celebration"
    />
    <h22>
      វា សប្បាយ
      <span
        class="highlight"
        style="color: #00ffba"
        >ណាស់</span
      >
    </h2>
    <h5>
      ជា ពិសេស ប្រសិន បើ អ្នក មាន មនុស្ស ជា ច្រើន នៅ ក្នុង គម្រោង របស់ អ្នក ។ នោះ គឺ ជា ការ ចងចាំ មួយ ។ :)
    </h5>
  </div>
</div>

<div class="intro" style="margin-top: 0px; justify-content: center">
  <div class="contain">
    <img
      src="../../media/assets/icons/outlined/white/Good Mood.svg"
      alt="តំណាង Good Mood"
    />
    <h23>
      ធ្វើ ឲ្យ អ្នក
      <span
        class="highlight"
        style="color: #00ffba"
        >មាន ការជំរុញ ទឹកចិត្</span
      >
    </h2>
    <h5>
      តើ អ្នក មាន សុបិន ក្លាយ ជា អ្នក បង្កើត Pack ដែរ ឬ ទេ ? អនុវត្តក្តីសុបិន្តរបស់អ្នកនៅទីនេះ។
    </h5>
  </div>
</div>

<div class="button-apply">
  <div class="apply-int-bounce">
    <a href="start/">
      <div class="apply-int">
        <div class="apply">
          <div class="selection">
            <button>អនុវត្ត</button>
          </div>
        </div>
      </div>
    </a>
  </div>
</div>
