<h1>Mengapa memohon?</h1>

<div class="intro">
  <div class="contain">
    <img
      src="../../media/assets/icons/outlined/white/Clock.svg"
      alt="Ikon Clock icon"
    />
    <h2>
      Masa anda adalah
      <span class="highlight" style="color: #00ffba">milik anda</span>
    </h2>
    <h5>
      Anda mempunyai kawalan untuk masa anda, anda boleh menyertai apa sahaja
      yang anda mahu, pada kadar anda sendiri.
    </h5>
  </div>

  <div class="contain">
    <img
      src="../../media/assets/icons/outlined/white/Celebration.svg"
      alt="Ikon Celebration icon"
    />
    <h2>
      Ia
      <span class="highlight" style="color: #00ffba">menyeronokkan</span>
    </h2>
    <h5>
      Terutama jika anda mempunyai banyak orang di dalam projek anda. Itu akan
      menjadi kenangan. :)
    </h5>
  </div>
</div>

<div class="intro" style="margin-top: 0px; justify-content: center">
  <div class="contain">
    <img
      src="../../media/assets/icons/outlined/white/Good Mood.svg"
      alt="Ikon Good Mood"
    />
    <h2>
      Membuat anda
      <span class="highlight" style="color: #00ffba">bermotivasi</span>
    </h2>
    <h5>
      Adakah anda mempunyai impian untuk menjadi Pencipta Pek? Amalkan impianmu
      di sini.
    </h5>
  </div>
</div>

<div class="button-apply">
  <div class="apply-int-bounce">
    <a href="start/">
      <div class="apply-int">
        <div class="apply">
          <div class="selection">
            <button>Memohon</button>
          </div>
        </div>
      </div>
    </a>
  </div>
</div>
