<h1>အဘယ်ကြောင့် လျှောက်လွှာတင်ရသနည်း။</h1>

<div class="intro">
  <div class="contain">
    <img
      src="../../media/assets/icons/outlined/white/Clock.svg"
      alt="Clock အိုင်ကွန်"
    />
    <h2>
      မင်းရဲ့အချိန်က
      <span class="highlight" style="color: #00ffba">မင်းအတွက် ပဲ။</span>
    </h2>
    <h5>
      သင့်အချိန်ကို ထိန်းချုပ်နိုင်သည်၊ သင်အလိုရှိသောအရာကို
      သင့်ကိုယ်ပိုင်အရှိန်အဟုန်ဖြင့် ချိတ်ဆက်နိုင်သည်။
    </h5>
  </div>

  <div class="contain">
    <img
      src="../../media/assets/icons/outlined/white/Celebration.svg"
      alt="Celebration အိုင်ကွန်"
    />
    <h2>
      ပျော်စရာ
      <span class="highlight" style="color: #00ffba">ကောင်းသည် ။</span>
    </h2>
    <h5>
      အထူးသဖြင့် သင့်ပရောဂျက်တွင် လူများစွာရှိလျှင်။ အဲဒါက အမှတ်တရဖြစ်မှာပါ။ :)
    </h5>
  </div>
</div>

<div class="intro" style="margin-top: 0px; justify-content: center">
  <div class="contain">
    <img
      src="../../media/assets/icons/outlined/white/Good Mood.svg"
      alt="Good Mood အိုင်ကွန်"
    />
    <h2>
      သင့်ကို
      <span class="highlight" style="color: #00ffba">စိတ်အားတက်ကြွစေတယ် ။</span>
    </h2>
    <h5>
      Pack Creator တစ်ယောက်ဖြစ်ဖို့ သင့်မှာ အိပ်မက်ရှိပါသလား။ မင်းအိပ်မက်ကို
      ဒီမှာ လေ့ကျင့်ပါ။
    </h5>
  </div>
</div>

<div class="button-apply">
  <div class="apply-int-bounce">
    <a href="start/">
      <div class="apply-int">
        <div class="apply">
          <div class="selection">
            <button>လျှောက်ထားပါ။</button>
          </div>
        </div>
      </div>
    </a>
  </div>
</div>
