<h1>Por que se candidatar?</h1>

<div class="intro">
  <div class="contain">
    <img
      src="../../media/assets/icons/outlined/white/Clock.svg"
      alt="Ícone do Clock"
    />
    <h2>
      O seu tempo é
      <span class="highlight" style="color: #00ffba">seu</span>
    </h2>
    <h5>
      Tens controlo ao teu tempo, podes juntar-te ao que quiseres, ao teu
      próprio ritmo.
    </h5>
  </div>

  <div class="contain">
    <img
      src="../../media/assets/icons/outlined/white/Celebration.svg"
      alt="Ícone de Celebration"
    />
    <h2>
      É
      <span class="highlight" style="color: #00ffba">divertido</span>
    </h2>
    <h5>
      Especialmente se tiver muitas pessoas dentro do seu projeto. Seria
      memorável. :)
    </h5>
  </div>
</div>

<div class="intro" style="margin-top: 0px; justify-content: center">
  <div class="contain">
    <img
      src="../../media/assets/icons/outlined/white/Good Mood.svg"
      alt="Ícone de Good Mood"
    />
    <h2>
      Deixa-te
      <span class="highlight" style="color: #00ffba">motivado</span>
    </h2>
    <h5>
      Tem um sonho de se tornar um Criador de Pack? Pratique o seu sonho aqui.
    </h5>
  </div>
</div>

<div class="button-apply">
  <div class="apply-int-bounce">
    <a href="start/">
      <div class="apply-int">
        <div class="apply">
          <div class="selection">
            <button>Aplicar</button>
          </div>
        </div>
      </div>
    </a>
  </div>
</div>
