<h1>Зачем применять?</h1>

<div class="intro">
  <div class="contain">
    <img
      src="../../media/assets/icons/outlined/white/Clock.svg"
      alt="Значок Clock"
    />
    <h2>
      Ваше время принадлежит
      <span class="highlight" style="color: #00ffba">вам</span>
    </h2>
    <h5>
      У вас есть контроль над своим временем, вы можете присоединиться к чему
      угодно, в своем собственном темпе.
    </h5>
  </div>

  <div class="contain">
    <img
      src="../../media/assets/icons/outlined/white/Celebration.svg"
      alt="Значок Celebration"
    />
    <h2>
      Это
      <span class="highlight" style="color: #00ffba">весело</span>
    </h2>
    <h5>
      Особенно, если в вашем проекте много людей. Это было бы незабываемо. :)
    </h5>
  </div>
</div>

<div class="intro" style="margin-top: 0px; justify-content: center">
  <div class="contain">
    <img
      src="../../media/assets/icons/outlined/white/Good Mood.svg"
      alt="Значок Good Mood"
    />
    <h2>
      Делает вас
      <span class="highlight" style="color: #00ffba">мотивированным</span>
    </h2>
    <h5>
      У вас есть мечта стать Создателем Стаи? Практикуйте свою мечту здесь.
    </h5>
  </div>
</div>

<div class="button-apply">
  <div class="apply-int-bounce">
    <a href="start/">
      <div class="apply-int">
        <div class="apply">
          <div class="selection">
            <button>Применять</button>
          </div>
        </div>
      </div>
    </a>
  </div>
</div>
