<h1>Tại sao áp dụng?</h1>

<div class="intro">
  <div class="contain">
    <img
      src="../../media/assets/icons/outlined/white/Clock.svg"
      alt="Biểu tượng Clock"
    />
    <h2>
      Thời gian của bạn là
      <span class="highlight" style="color: #00ffba">của bạn</span>
    </h2>
    <h5>
      Bạn có quyền kiểm soát thời gian của mình, bạn có thể tham gia bất cứ thứ
      gì bạn muốn, theo tốc độ của riêng bạn.
    </h5>
  </div>

  <div class="contain">
    <img
      src="../../media/assets/icons/outlined/white/Celebration.svg"
      alt="Biểu tượng Celebration"
    />
    <h2>
      Nó là
      <span class="highlight" style="color: #00ffba">niềm vui</span>
    </h2>
    <h5>
      Đặc biệt nếu bạn có nhiều người bên trong dự án của bạn. Đó sẽ là một điều
      đáng nhớ. :)
    </h5>
  </div>
</div>

<div class="intro" style="margin-top: 0px; justify-content: center">
  <div class="contain">
    <img
      src="../../media/assets/icons/outlined/white/Good Mood.svg"
      alt="Biểu tượng Good Mood"
    />
    <h2>
      Khiến bạn có
      <span class="highlight" style="color: #00ffba">động lực</span>
    </h2>
    <h5>
      Bạn có ước mơ trở thành Pack Creator? Thực hành ước mơ của bạn tại đây.
    </h5>
  </div>
</div>

<div class="button-apply">
  <div class="apply-int-bounce">
    <a href="start/">
      <div class="apply-int">
        <div class="apply">
          <div class="selection">
            <button>Áp dụng</button>
          </div>
        </div>
      </div>
    </a>
  </div>
</div>
