<h1>为什么要申请？</h1>

<div class="intro">
  <div class="contain">
    <img
      src="../../media/assets/icons/outlined/white/Clock.svg"
      alt="Clock图标"
    />
    <h2>
      你的时间属于
      <span class="highlight" style="color: #00ffba">你</span>
    </h2>
    <h5>
      你可以控制你的时间，你可以按照自己的节奏加入任何你想加入的东西。
    </h5>
  </div>

  <div class="contain">
    <img
      src="../../media/assets/icons/outlined/white/Celebration.svg"
      alt="Celebration图标"
    />
    <h2>
      <span class="highlight" style="color: #00ffba">这很有趣</span>
    </h2>
    <h5>
      特别是如果你的项目中有很多人。那将是一个难忘的。:)
    </h5>
  </div>
</div>

<div class="intro" style="margin-top: 0px; justify-content: center">
  <div class="contain">
    <img
      src="../../media/assets/icons/outlined/white/Good Mood.svg"
      alt="Good Mood图标"
    />
    <h2>
      让你
      <span class="highlight" style="color: #00ffba">有动力</span>
    </h2>
    <h5>
      你有成为包装创作者的梦想吗？在这里实践你的梦想。
    </h5>
  </div>
</div>

<div class="button-apply">
  <div class="apply-int-bounce">
    <a href="start/">
      <div class="apply-int">
        <div class="apply">
          <div class="selection">
            <button>应用</button>
          </div>
        </div>
      </div>
    </a>
  </div>
</div>
