<div class="intro">
  <div class="h1">
    <h1 data-introduction>We make Packs just for you.</h1>
  </div>
  <div class="rfb_wordmark">
    <img src="/media/assets/rfb_wordmark.svg" alt="RareFrostbites Typography Logo" />
  </div>
</div>
<div class="packs_for_you-mobile">
  <img
    src="/media/index/packs_for_you.png"
    alt="RFB Store logo with all of RareFrostbites' Packs inside"
  />
  <iframe src="embeds/index/circle-mobile.html" frameborder="0"></iframe>
</div>

<div class="packs_for_you-desktop">
  <img
    src="/media/index/packs_for_you.png"
    alt="RFB Store logo with all of RareFrostbites' Packs inside"
  />
  <iframe src="embeds/index/circle-desktop.html" frameborder="0"></iframe>
</div>

<div class="rfbstore">
  <h1 data-intro-rfbstore>We made a Store just for you</h1>
  <div class="rfbstore_button">
    <a href="/store"
      ><button>
        <h3 data-intro-rfbstore-button>Explore and Claim!</h3>
      </button></a
    >
  </div>
  <div class="rfbstore_animated-mobile">
    <img src="/media/store/assets/rfbstore.gif" alt="Animated RFB Store logo" />
  </div>

  <div class="rfbstore_animated-desktop">
    <img src="/media/store/assets/rfbstore.gif" alt="Animated RFB Store logo" />
  </div>
</div>

<div class="products">
  <h1 data-intro-products>
    We rise, we never stop there. We make products just for you
  </h1>
  <div class="product-icon">
    <div class="container-sel-bounce">
      <a href="/store"
        ><div class="container-sel">
          <div class="container">
            <div class="selection">
              <img src="/media/store/assets/rfbstore.svg" alt="RFB Store logo" />
              <span class="user notranslate"><h3>RFB Store</h3></span>
            </div>
          </div>
        </div></a
      ><br /><br />
    </div>

    <div class="container-sel-bounce">
      <div class="container-sel">
        <div class="container">
          <div class="selection">
            <img src="/media/assets/spay/Spay/Spay.svg" alt="Spay logo" />
            <span class="user notranslate"
              ><h3 style="margin-bottom: 5px">Spay</h3></span
            >
            <h6 data-soon>COMING SOON...</h6>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
