@font-face {
  src: url("/fonts/Minecraft-Regular.ttf") format('truetype');
  font-family: Mojangles;
  font-display: fallback;
}
@font-face {
  src: url("/fonts/Minecraft-Ten.woff2");
  font-family: MC10;
  font-display: fallback;
}



@font-face {
  src: url("/fonts/Unifont.woff2");
  font-family: Unicode;
  font-display: fallback;
}



/* Russian */



@font-face {
  src: url("/fonts/ru_ru/18VAG Rounded M Normal.ttf") format('truetype');
  font-family: VAGRoundedM;
  font-display: fallback;
}



@font-face {
  src: url("/fonts/ru_ru/18VAG Rounded M Bold.ttf") format('truetype');
  font-family: VAGRoundedB;
  font-display: fallback;
}