.body .content .rfbsafe img {
    display: block;
    width: 150px;
    height: 150px;
    margin-top: 50px;
    margin-left: auto;
    margin-bottom: 20px;
    margin-right: auto;
}



.body .content img {
    width: 11px;
    height: 11px;
}