<a href="/store/">
    <div class="b">
        <img src="/media/store/assets/icons/gray/Left.svg" alt="Back button">
    </div>
</a>

<div class="ecp" id="ecp">
    <div class="e">
        <div class="emb">
            <div class="emb-b1">
                <div class="emb-b2">
                    <div class="emb-b3">
                        <div class="emb-b4 iframe">
                            <iframe src="/embeds/store/com.rarefrostbites.8.1st_century.html" id="iframe" title="1st Century - RareFrostbites Team | RFB Store" loading="lazy" frameborder="0"></iframe>
                        </div>
                    </div>
                </div>
            </div>
            <div class="emb-b1">
                <div class="emb-b2">
                    <div class="emb-b3">
                        <div class="emb-b4 controller">
                            <div class="opt">
                                <div class="size">
                                    <div class="txt">
                                        <h4>width</h4>
                                    </div>
                                    <div class="opt_sel">
                                        <div class="rad_sel">
                                            <input type="radio" id="unsel1w" name="emb_width" />
                                            <label for="unsel1w" onclick="changeSize1()">300</label>
                                        </div>
                                        
                                        <div class="rad_sel">
                                            <input type="radio" id="unsel2w" name="emb_width" checked />
                                            <label for="unsel2w" onclick="changeSize2()">320</label>
                                        </div>
                                        
                                        <div class="rad_sel">
                                            <input type="radio" id="unsel3w" name="emb_width" />
                                            <label for="unsel3w" onclick="changeSize3()">400</label>
                                        </div>
    
                                        <div class="rad_sel">
                                            <input type="radio" id="unsel4w" name="emb_width" />
                                            <label for="unsel4w" onclick="changeSize4()">500</label>
                                        </div>
                                        
                                        <div class="rad_sel">
                                            <input type="radio" id="unsel5w" name="emb_width" />
                                            <label for="unsel5w" onclick="changeSize5()">600</label>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="btn">
                                <button onclick="closeECP()">
                                    <img src="/media/store/assets/icons/gray/Close.svg" class="f" alt="Icon image">
                                    <img src="/media/store/assets/icons/white/Close.svg" class="hidden" alt="Icon image">
                                </button>
                                <button onclick="copylinkembed('iframe_c')">
                                    <img src="/media/store/assets/icons/gray/Share.svg" class="f" alt="Icon image">
                                    <img src="/media/store/assets/icons/white/Share.svg" class="hidden" alt="Icon image">
                                </button>
                                <input type="text" id="iframe_c" value="&lt;iframe&nbsp;src=&quot;https://rarefrostbites.pages.dev/embeds/store/com.rarefrostbites.8.1st_century.html&quot;&nbsp;id=&quot;iframe&quot;&nbsp;title=&quot;1st&nbsp;Century&nbsp;&#45;&nbsp;RareFrostbites&nbsp;Team&nbsp;|&nbsp;RFB&nbsp;Store&quot;&nbsp;loading=&quot;lazy&quot;&nbsp;frameborder=&quot;0&quot;&nbsp;style=&quot;min&#45;width:&nbsp;320px;&nbsp;min&#45;height:&nbsp;500px;&quot;&gt;&lt;/iframe&gt;">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>