<div class="title">
  <h1 data-ask-for-contact>You choose which email you want to contact Us.</h1>
</div>

<div class="email-container">
  <a
    href="https://forms.gle/YkxHT9n7DjjRfBLAA"
    rel="external nofollow noopener"
    target="_blank"
  >
    <div class="email-logo-click-bounce gmail">
      <div class="email-logo-click">
        <div class="email-logo">
          <dev class="selection">
            <img src="../../media/assets/contact/Gmail.svg" alt="Gmail logo" />
            <span class="user notranslate"><h2>Gmail</h2></span>
          </dev>
        </div>
      </div>
    </div>
  </a>

  <a
    href="https://forms.office.com/r/H50bz8TGMD"
    rel="external nofollow noopener"
    target="_blank"
  >
    <div class="email-logo-click-bounce outlook">
      <div class="email-logo-click">
        <div class="email-logo">
          <dev class="selection">
            <img
              src="../../media/assets/contact/Outlook.svg"
              alt="Outlook logo"
            />
            <span class="user notranslate"><h2>Outlook</h2></span>
          </dev>
        </div>
      </div>
    </div>
  </a>
</div>

<div class="email-preview">
  <hr />

  <h1 data-coming-soon>Coming Soon</h1>

  <div class="email-container">
    <div class="email-logo-click-bounce petal_mail">
      <div class="email-logo-click">
        <div class="email-logo">
          <dev class="selection">
            <img
              src="../../media/assets/contact/Petal Mail.png"
              alt="Petal Mail logo"
            />
            <span class="user notranslate"><h2>Petal Mail</h2></span>
          </dev>
        </div>
      </div>
    </div>
  </div>
</div>
