@keyframes inner {
    0% {
    margin-top: 322.5px;
    width: 0px;
    height: 0px;
    background-color: #00ffba;
  }
  100% {
    margin-top: 0px;
    width: 645px;
    height: 645px;
    background-color: #00ffbb00;
  }
}



body {
  overflow: hidden;
}



.circle {
  width: 645px;
  height: 645px;
}



.circle .inner {
  margin-left: auto;
  margin-right: auto;
  border-radius: 500px;
  display: block;
  animation: inner 1s infinite;
}