<hr />

<div class="social_media">
  <div class="text">
    <h2 data-follow-us>Follow Us</h2>
  </div>
  <br />

  <div class="image-logo">
    <div class="image-bounce">
      <div class="image">
        <a href="https://fb.me/RareFrostbites" target="_blank">
          <img
            src="/media/assets/social_media/facebook.svg"
            alt="Facebook logo"
          />
        </a>
      </div>
    </div>

    <div class="image-bounce">
      <div class="image">
        <a
          href="https://youtube.com/channel/UCYOjFfGHdOmgvpSKmbmonhg"
          target="_blank"
        >
          <img
            src="/media/assets/social_media/youtube.svg"
            alt="YouTube logo"
          />
        </a>
      </div>
    </div>

    <div class="image-bounce">
      <div class="image">
        <a href="https://tiktok.com/@rarefrostbites" target="_blank">
          <img src="/media/assets/social_media/tiktok.svg" alt="TikTok logo" />
        </a>
      </div>
    </div>

    <div class="image-bounce">
      <div class="image">
        <a href="https://discord.gg/Rz5y9S4kj9" target="_blank">
          <img
            src="/media/assets/social_media/discord.svg"
            alt="Discord logo"
          />
        </a>
      </div>
    </div>

    <div class="image-bounce">
      <div class="image">
        <a href="https://omlet.gg/squad/6ISP1FC31YVJ3N4YI" target="_blank">
          <img
            src="/media/assets/social_media/omlet_arcade.svg"
            alt="Omlet Arcade logo"
          />
        </a>
      </div>
    </div>

    <div class="image-bounce">
      <div class="image">
        <a href="https://reddit.com/r/RareFrostbites" target="_blank">
          <img src="/media/assets/social_media/reddit.svg" alt="Reddit logo" />
        </a>
      </div>
    </div>

    <div class="image-bounce">
      <div class="image">
        <a href="https://instagram.com/rarefrostbites" target="_blank">
          <img
            src="/media/assets/social_media/instagram.svg"
            alt="Instagram logo"
          />
        </a>
      </div>
    </div>
  </div>

  <div class="image-logo">
    <!-- <div class="image-bounce">
      <div class="image">
        <a href="https://chat.whatsapp.com/DnFg8vKv8sq4uXPqVnizu9" target="_blank">
          <img
            src="/media/assets/social_media/whatsapp.svg"
            alt="WhatsApp logo"
          />
        </a>
      </div>
    </div> -->

    <div class="image-bounce">
      <div class="image">
        <a href="https://guilded.gg/RareFrostbites" target="_blank">
          <img
            src="/media/assets/social_media/guilded.svg"
            alt="Guilded logo"
          />
        </a>
      </div>
    </div>
  </div>
</div>

<div class="pricon">
  <a href="/privacy-policy/"><h5 data-privacy-policy>Privacy Policy</h5></a>
  <a href="/contact/"><h5 data-contact-us>Contact Us</h5></a>
</div>

<div class="year">
  <h5 data-cr-date>© 2020 - 2022</h5>
</div>

<span class="user notranslate">
  <div class="language" id="language">
    <div class="current" id="current" onclick="openLanguage()">
      <img src="https://flagcdn.com/us.svg" width="30" alt="United States" />
      <h6>US</h6>
    </div>

    <div class="selection" id="selection">
      <div class="select" style="margin-top: 0px">
        <a href="?lang=zh-cn"
          ><h5>
            <img src="https://flagcdn.com/cn.svg" width="30" alt="China" /> CN
          </h5></a
        >
      </div>
      <div class="select">
        <a href="?lang=es-es"
          ><h5>
            <img src="https://flagcdn.com/es.svg" width="30" alt="Spain" /> ES
          </h5></a
        >
      </div>
      <div class="select">
        <a href="?lang=en-gb"
          ><h5>
            <img
              src="https://flagcdn.com/gb.svg"
              width="30"
              alt="Great Britain"
            />
            GB
          </h5></a
        >
      </div>
      <div class="select">
        <a href="?lang=id-id"
          ><h5>
            <img src="https://flagcdn.com/id.svg" width="30" alt="Indonesia" />
            ID
          </h5></a
        >
      </div>
      <div class="select">
        <a href="?lang=hi-in"
          ><h5>
            <img src="https://flagcdn.com/in.svg" width="30" alt="India" /> IN
          </h5></a
        >
      </div>
      <div class="select">
        <a href="?lang=ja-jp"
          ><h5>
            <img src="https://flagcdn.com/jp.svg" width="30" alt="Japan" /> JP
          </h5></a
        >
      </div>
      <div class="select">
        <a href="?lang=km-kh"
          ><h5>
            <img src="https://flagcdn.com/kh.svg" width="30" alt="Cambodia" />
            KH
          </h5></a
        >
      </div>
      <div class="select">
        <a href="?lang=ko-kr"
          ><h5>
            <img src="https://flagcdn.com/kr.svg" width="30" alt="Korea" /> KR
          </h5></a
        >
      </div>
      <div class="select">
        <a href="?lang=my-mm"
          ><h5>
            <img src="https://flagcdn.com/mm.svg" width="30" alt="Myanmar" />
            MM
          </h5></a
        >
      </div>
      <div class="select">
        <a href="?lang=ms-my"
          ><h5>
            <img src="https://flagcdn.com/my.svg" width="30" alt="Malaysia" />
            MY
          </h5></a
        >
      </div>
      <div class="select">
        <a href="?lang=fil-ph"
          ><h5>
            <img
              src="https://flagcdn.com/ph.svg"
              width="30"
              alt="Philippines"
            />
            PH
          </h5></a
        >
      </div>
      <div class="select">
        <a href="?lang=pt-pt"
          ><h5>
            <img src="https://flagcdn.com/pt.svg" width="30" alt="Portugal" />
            PT
          </h5></a
        >
      </div>
      <div class="select">
        <a href="?lang=ru-ru"
          ><h5>
            <img src="https://flagcdn.com/ru.svg" width="30" alt="Russia" />
            RU
          </h5></a
        >
      </div>
      <div class="select">
        <a href="?lang=zh-tw"
          ><h5>
            <img src="https://flagcdn.com/tw.svg" width="30" alt="Taiwan" />
            TW
          </h5></a
        >
      </div>
      <div class="select">
        <a href="?lang=en-us"
          ><h5>
            <img
              src="https://flagcdn.com/us.svg"
              width="30"
              alt="United States"
            />
            US
          </h5></a
        >
      </div>
      <div class="select" style="margin-bottom: 0px">
        <a href="?lang=vi-vn"
          ><h5>
            <img src="https://flagcdn.com/vn.svg" width="30" alt="Vietnam" />
            VN
          </h5></a
        >
      </div>
    </div>
  </div>
</span>
