 <span class="slide">
    <div class="mobile-sidebar_button-open-bounce">
      <div class="mobile-sidebar_button-open" onclick="openSidebar()">
        <div class="menu">
          <img src="/media/assets/icons/outlined/white/Menu.svg" alt="Menu Sidebar">
        </div>
      </div>
    </div>
  </span>
  
  <a href="/">
    <div class="mobile-logo">
      <img src="/media/assets/rfb.svg" alt="RareFrostbites Logo">
    </div>
  </a>
  
  <a href="/">
    <div class="desktop-logo">
      <picture>
        <source srcset="/media/assets/rfb_logowithwordmark.svg" media="(min-width: 1336px)" width="182px">
        
        <img src="/media/assets/rfb.svg" alt="RareFrostbites Logo" width="35px">
      </picture>
    </div>
  </a>
  
  
  <div class="desktop-sidebar">
    <div class="desktop-sidebar-area">
      <a href="/apply/" style="margin-left: 20px;"><h2 data-apply>Apply</h3></a>
      <a href="/contact/"><h2 data-contact-us>Contact Us</h3></a>
      <a href="/privacy-policy/" style="margin-right: 5px;"><h2 data-privacy-policy>Privacy Policy</h3></a>
    </div>
  </div>
  <div class="mobile-products" onclick="openProducts()">
    <div class="mobile-products-open-bounce">
      <div class="mobile-products-open">
        <div class="products">
          <img src="/media/assets/icons/outlined/white/Apps.svg" alt="Apps">
        </div>
      </div>
    </div>
  </div>
  <div class="desktop-products" onclick="openProducts()">
    <div class="desktop-products-open-bounce">
      <div class="desktop-products-open">
        <div class="products">
          <img src="/media/assets/icons/outlined/white/Apps.svg" alt="Apps">
        </div>
      </div>
    </div>
  </div>