<div class="close-products">
  <div class="close-products-close-bounce">
    <div class="close-products-close" onclick="closeProducts()">
      <div class="close">
        <img src="/media/assets/icons/outlined/white/Close.svg" alt="Close" />
      </div>
    </div>
  </div>
</div>
<div class="products-overlay">
  <a href="/en-us/store">
    <div class="selection">
      <div class="selection-img">
        <img src="/media/store/assets/rfbstore.svg" alt="RFB Store" />
      </div>
      <div class="selection-h">
        <span class="user notranslate"><h6>RFB Store</h6></span>
      </div>
    </div>
  </a>
</div>
