<div class="alert-cl" id="alert-cl" style="display: none;">
    <div class="alert-cl-h">
        <div class="alert-cl-h-h" id="alert-cl-h-h">
            <h3 data-cl></h3>
        </div>
    </div>
</div>

<div class="alert-dl" id="alert-dl" style="display: none;">
    <div class="alert-dl-h">
        <div class="alert-dl-h-h" id="alert-dl-h-h">
            <h3 data->The Pack is now downloading...</h3>
        </div>
    </div>
</div>

<div class="hp">
    <div class="pi m">
        <img src="/media/store/com.rarefrostbites.15.survival_grounds.jpg" alt="Pack icon image RareFrostbites Survival Grounds">
    </div>

    <div class="ph m">
        <div class="tt">
            <h2 data-pt></h2>
        </div>
        <div class="pa">
            <a href="/store/@rarefrostbites">
                <h4 data-pa></h4>
            </a>
        </div>

        <div class="d m">
            <a href="/media/download/com.rarefrostbites.15.survival_grounds/RareFrostbites Survival Grounds (V1).mcworld" id="b" download="RareFrostbites Survival Grounds (V1).mcworld">
                <div class="b" onclick="downloadpack()">
                    <h3 data-pg></h3>
                </div>
            </a>
            <div class="b_disabled" id="b-blocked">
                <h3 data-pg></h3>
            </div>
        </div>
    </div>
</div>

<div class="share">
    <div class="holder">
        <input type="text" id="cl" value="https://rarefrostbites.pages.dev/store/com.rarefrostbites.15.survival_grounds" readonly/>
        <button onclick="copylink('cl')">
            <img src="/media/store/assets/Share-RFB.svg" alt="Share icon">
        </button>
        
        <a onClick="MyWindow=window.open('https://www.facebook.com/sharer/sharer.php?u=https%3A%2F%2Frarefrostbites.pages.dev%2Fstore%2Fcom.rarefrostbites.15.survival_grounds&amp;src=sdkpreparse','MyWindow','top=100,left=460,width=600,height=600'); return false;">
            <button>
                <img src="/media/store/assets/Facebook-share.svg" alt="Facebook Share Plugin">
            </button>
        
        <a onClick="MyWindow=window.open('https://www.reddit.com/submit?url=https://rarefrostbites.pages.dev/store/com.rarefrostbites.15.survival_grounds&title=Check%20out%20Horse%20Race:%20Ice%20Edition%20made%20on%20RFB%20Store','MyWindow','top=100,left=460,width=600,height=600'); return false;">
            <button>
                <img src="/media/store/assets/Reddit-share.svg" alt="Reddit Share Plugin">
            </button>
        </a>
    </div>
</div>

<div class="pps">
    <div class="pps-h" style="max-width: 1240px;">
        <div class="pps-s" style="min-width: 240px;">
            <img src="/media/store/com.rarefrostbites.15.survival_grounds/1.jpg" alt="Pack screenshot">
        </div>

        <div class="pps-s" style="min-width: 240px;">
            <img src="/media/store/com.rarefrostbites.15.survival_grounds/2.jpg" alt="Pack screenshot">
        </div>

        <div class="pps-s" style="min-width: 240px;">
            <img src="/media/store/com.rarefrostbites.15.survival_grounds/3.jpg" alt="Pack screenshot">
        </div>

        <div class="pps-s" style="min-width: 240px;">
            <img src="/media/store/com.rarefrostbites.15.survival_grounds/4.jpg" alt="Pack screenshot">
        </div>

        <div class="pps-s" style="min-width: 240px;">
            <img src="/media/store/com.rarefrostbites.15.survival_grounds/5.jpg" alt="Pack screenshot">
        </div>
    </div>
</div>

<!-- Pack Information -->
<div class="pi-b1">
    <div class="pi-b2">
        <div class="pi-b3">
            <div class="pi-b4">
                <div class="pi-d">
                    <h5 id="pi-d" data-pd></h5>
                </div>
            
                <hr>
            
                <div class="pi-m">
                    <div class="tag_i">
                        <div class="tags">
                            <h2 data-tags></h2>
                        </div>
                        <div class="tags_i">
                            <div class="t b1">
                                <div class="b2">
                                    <h6 data-tags_i-Prank></h6>
                                </div>
                            </div>
                            
                            <div class="t b1">
                                <div class="b2">
                                    <h6 data-tags_i-Troll></h6>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="genre_i">
                        <div class="genres">
                            <h2 data-genres></h2>
                        </div>
                        <div class="genres_i">
                            <div class="t b1">
                                <div class="b2">
                                    <h5 data-genres_i-Funny></h5>
                                </div>
                            </div>

                            <div class="t m">
                                <h6>•</h6>
                            </div>
                            
                            <div class="t b1">
                                <div class="b2">
                                    <h5 data-genres_i-Horror></h5>
                                </div>
                            </div>
                        </div>
                    </div>

                    <!-- <div class="player_i">
                        <div class="players">
                            <h2 data-players></h2>
                        </div>
                        <div class="players_i">
                            <div class="t b1">
                                <div class="b2">
                                    <h5 data-players_i->NA</h5>
                                </div>
                            </div>

                            <div class="t m">
                                <h6>•</h6>
                            </div>
                            
                            <div class="t b1">
                                <div class="b2">
                                    <h5 data-players_i->NA</h5>
                                </div>
                            </div>
                        </div>
                    </div> -->
                </div>
            
                <div class="button">
                    <button id="button-d" onclick="readMorePD()">
                        <h2 id="show-d">+</h2>
                    </button>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- Changelogs -->
<!-- <div class="pi-b1">
    <div class="pi-b2">
        <div class="pi-b3">
            <div class="pi-b4">
                <div class="pi-chlgs">
                    <h5 id="pi-chlgs-unread">WWWWWWWWWWWWWWW<br><br>

                        WWWWW
                    </h5>
                </div>

                <div class="pi-cr" id="pi-cr">
                    <h5 onclick="readMoreCHLGS()" data->Continue reading...</h5>
                </div>

                <div class="button">
                    <button id="button-chlgs" onclick="readMoreCHLGS()">
                        <h2 id="show-chlgs">+</h2>
                    </button>
                </div>
            </div>
        </div>
    </div>
</div> -->

<!-- Ratings -->
<div class="pr">
    <div class="powr-reviews" id="cabbe5dc_1656403387"></div>
</div>

<!-- More from the author -->
<div class="mfa">
    <div class="an">
        <h2>RareFrostbites Team</h2>
    </div>
    <div class="ps">
        <a href="/store/com.rarefrostbites.10.ya_ea">
            <div class="p t">
                <div class="img">
                    <img src="/media/store/com.rarefrostbites.10.ya_ea.jpg" alt="Pack icon image Ya Ea">
                </div>
                <div class="ptp">
                    <div class="t">
                        <h3>Ya Ea</h3>
                    </div>
    
                    <div class="pp">
                        <h4 data-pp-f></h4>
                    </div>
                </div>
            </div>
        </a>
        
        
        <a href="/store/com.rarefrostbites.9.rarechristmas_bundle">
            <div class="p s">
                <div class="img">
                    <img src="/media/store/com.rarefrostbites.9.rarechristmas_bundle.jpg" alt="Pack icon image RareChristmas Bundle">
                </div>
                <div class="ptp">
                    <div class="t">
                        <h3>RareChristmas Bundle</h3>
                    </div>
    
                    <div class="pp">
                        <h4 data-pp-f></h4>
                    </div>
                </div>
            </div>
        </a>
        
        <a href="/store/com.rarefrostbites.8.1st_century">
            <div class="p s">
                <div class="img">
                    <img src="/media/store/com.rarefrostbites.8.1st_century.jpg" alt="Pack icon image 1st Century">
                </div>
                <div class="ptp">
                    <div class="t">
                        <h3>1st Century</h3>
                    </div>
    
                    <div class="pp">
                        <h4 data-pp-f></h4>
                    </div>
                </div>
            </div>
        </a>
        
        <a href="/store/com.rarefrostbites.7.find_the_lever">
            <div class="p s">
                <div class="img">
                    <img src="/media/store/com.rarefrostbites.7.find_the_lever.jpg" alt="Pack icon image Find the Lever">
                </div>
                <div class="ptp">
                    <div class="t">
                        <h3>Find the Lever</h3>
                    </div>
    
                    <div class="pp">
                        <h4 data-pp-f></h4>
                    </div>
                </div>
            </div>
        </a>
        
        <a href="/store/com.rarefrostbites.6.halloween_endless_run">
            <div class="p s">
                <div class="img">
                    <img src="/media/store/com.rarefrostbites.6.halloween_endless_run.jpg" alt="Pack icon image Halloween Endless Run">
                </div>
                <div class="ptp">
                    <div class="t">
                        <h3>Halloween Endless Run</h3>
                    </div>
    
                    <div class="pp">
                        <h4 data-pp-f></h4>
                    </div>
                </div>
            </div>
        </a>
        
        <a href="/store/@rarefrostbites">
            <div class="p more">
                <div class="area">
                    <img src="/media/store/assets/icons/white/Right.svg" alt="Icon image See more">
                </div>
            </div>
        </a>
    </div>
</div>