<div class="hp">
    <div class="t">
        <img src="/media/store/com.rarefrostbites.10.ya_ea.jpg" alt="Ya Ea">
    </div>

    <div class="ph">
        <div class="tt">
            <h2 data-pt></h2>
        </div>
        <div class="pa">
            <a href="#">
                <h4 data-pa></h4>
            </a>
        </div>

        <div class="d">
            <a href="#">
                <div class="b">
                    <h3 data-pg></h3>
                </div>
            </a>
        </div>
    </div>
</div>