<div class="alert-cl" id="alert-cl">
    <div class="alert-cl-h">
        <div class="alert-cl-h-h" id="alert-cl-h-h">
            <h3 data-cl></h3>
        </div>
    </div>
</div>

<div class="hp">
    <div class="t">
        <img src="/media/store/com.rarefrostbites.10.ya_ea.jpg" alt="Ya Ea">
    </div>

    <div class="ph">
        <div class="tt">
            <h2 data-pt></h2>
        </div>
        <div class="pa">
            <a href="#">
                <h4 data-pa></h4>
            </a>
        </div>

        <div class="d">
            <a href="#">
                <div class="b">
                    <h3 data-pg></h3>
                </div>
            </a>
        </div>
    </div>
</div>

<div class="share">
    <div class="holder">
        <input type="text" id="cl" value="https://rfbcanary.pages.dev/store/com.rarefrostbites.10.ya_ea" readonly/>
        <button onclick="copy('cl')">
            <img src="/media/store/assets/Share-RFB.svg" alt="">
        </button>
        
        <a onClick="MyWindow=window.open('https://www.facebook.com/sharer/sharer.php?u=https%3A%2F%2Frfbcanary.pages.dev%2Fstore%2Fcom.rarefrostbites.10.ya_ea&amp;src=sdkpreparse','MyWindow','left=460,width=600,height=600'); return false;">
            <button>
                <img src="/media/store/assets/Facebook-share.svg" alt="">
            </button>
        
        <a onClick="MyWindow=window.open('https://www.reddit.com/submit?url=https://rfbcanary.pages.dev/store/com.rarefrostbites.10.ya_ea&title=Check%20Ya%20Ea%20made%20on%20RFB%20Store','MyWindow','top=100,left=460,width=600,height=600'); return false;">
            <button>
                <img src="/media/store/assets/Reddit-share.svg" alt="">
            </button>
        </a>
    </div>
</div>

<div class="pps">
    <div class="pps-h" >
        <div class="pps-s" style="min-width: 320px;">
            <div class="fb-video" data-href="https://www.facebook.com/RareFrostbites/videos/808457726409849/" data-width="320" data-show-text="false">
                <blockquote cite="https://www.facebook.com/RareFrostbites/videos/808457726409849/" class="fb-xfbml-parse-ignore" style="opacity: 0%;"><a href="https://www.facebook.com/RareFrostbites/videos/808457726409849/">Ya Ea - Texture Pack Trailer</a><p>Get peace, drink cup of tea under the Temple, see the skies, the sun is flowing on you. Costumize yourself into Chinese adventure.

                Get it now
                RFB Store: https://rarefrostbites.github.io/store/Ya_Ea
                
                Trailer by PhilMinecraft: https://fb.me/PhilMinecraft.3
                
                ⚠️READ RULES AND REGULATIONS⚠️(inside the file)
                
                Credits to the Music: ▶▶▶
                Music: secret information
                Artist: ninja brain
                Link: https://youtu.be/p4Q3RSXhGUI
                
                Credit to Owner:
                This Texture Pack is made by Dmonster, a dedicated Frostbits that he made a first Texture Pack for us.
                Profile: https://fb.com/dmonster.pithwa
                
                Contact Us:
                •[Gmail] - rarefrostbitesteam&#064;gmail.com
                •[Outlook] - rarefrostbitesteam&#064;outlook.com
                
                #RareFrostbites
                #RareFrostbites_Texture_Packs
                #Ya_Ea</p>Nai-post ni <a href="https://www.facebook.com/RareFrostbites/">RareFrostbites Team</a> noong Huwebes, Pebrero 11, 2021</blockquote>
            </div>
        </div>

        <div class="pps-s">
            <img src="/media/store/com.rarefrostbites.10.ya_ea/1.jpg" alt="">
        </div>

        <div class="pps-s">
            <img src="/media/store/com.rarefrostbites.10.ya_ea/2.jpg" alt="">
        </div>
    </div>
</div>