<div class="rfbsafe">
    <img src="../../media/assets/privacy-policy/rfbsafe.svg" alt="RFB Safeロゴ">
  </div>
  
  <div class="pvc-title">
    <h1>プライバシーポリシー</h1>
  </div>

  <div class="date">
    <p>最終更新日：2022年1月27日</p>
  </div>
  
  <div class="paragraph">
    <p>このプライバシーポリシーは、お客様が本サービスを使用する際のお客様の情報の収集、使用、および開示に関する当社のポリシーと手順を説明し、お客様のプライバシー権と法律がお客様を保護する方法について説明します。</p>
  </div>
  <div class="paragraph">
    <p>当社は、お客様の個人データを使用して、サービスを提供および改善します。本サービスを利用することにより、お客様は本プライバシーポリシーに従って情報を収集および使用することに同意するものとします。このプライバシーポリシーは、<a href="https://www.freeprivacypolicy.com/blog/sample-privacy-policy-template/" target="_blank">プライバシーポリシーテンプレート <img src="../../media/assets/icons/outlined/white/Open in New.svg" alt="新しいタブで開く"></a>を使用して作成されています。</p>
  </div>



  <div class="title">
    <h1>解釈と定義</h1>
  </div>
  <div class="subtitle">
    <h2>解釈</h2>
  </div>
  <div class="paragraph">
    <p>頭文字が大文字になっている単語は、以下の条件で定義された意味を持ちます。以下の定義は、単数形であるか複数形であるかに関係なく、同じ意味を持つものとします。</p>
  </div>

  <div class="subtitle">
    <h2>定義</h2>
  </div>
  <div class="paragraph">
    <p>このプライバシーポリシーの目的：</p>
  </div>
  <div class="lists">
    <ul>
      <li>
        <p><strong>アカウント</strong>とは、お客様が当社のサービスまたは当社のサービスの一部にアクセスするために作成された一意のアカウントを意味します。</p>
      </li>
      <li>
        <p><strong>チーム</strong>（本契約では「チーム」、「私たち」、「私たち」または「私たち」のいずれかと呼ばれます）は<span class="user notranslate">RareFrostbites</span>を指します。</p>
      </li>
      <li>
        <p><strong>クッキー</strong>は、ウェブサイトによってコンピュータ、モバイルデバイス、またはその他のデバイスに配置される小さなファイルであり、そのウェブサイトでの閲覧履歴の詳細が含まれています。</p>
      </li>
      <li>
        <p><strong>国</strong>とは：フィリピン</p>
      </li>
      <li>
        <p><strong>デバイス</strong>とは、コンピューター、携帯電話、デジタルタブレットなど、本サービスにアクセスできるすべてのデバイスを意味します。</p>
      </li>
      <li>
        <p><strong>個人データ</strong>は、特定された、または特定可能な個人に関連する情報です。</p>
      </li>
      <li>
        <p><strong>サービス</strong>はウェブサイトを指します。</p>
      </li>
      <li>
        <p><strong>サービスプロバイダー</strong>とは、チームに代わってデータを処理する自然人または法人を意味します。これは、サービスを促進するため、チームに代わってサービスを提供するため、サービスに関連するサービスを実行するため、またはチームがサービスの使用方法を分析するのを支援するためにチームによって雇用されるサードパーティのチーム/スタジオまたは個人を指します。 </p>
      </li>
      <li>
        <p><strong>使用状況データ</strong>とは、サービスの使用によって、またはサービスインフラストラクチャ自体から生成された、自動的に収集されたデータを指します（たとえば、ページへのアクセス時間）。</p>
      </li>
      <li>
        <p><strong>ウェブサイト</strong>は<span class="user notranslate">RareFrostbites Team</span>を指し、<a href="https://rarefrostbites.pages.dev" rel="external nofollow noopener">https://rarefrostbites.pages.dev</a>からアクセスできます。</p>
      </li>
      <li>
        <p><strong>あなた</strong>とは、サービスにアクセスまたは使用する個人、チーム/スタジオ、またはそのような個人がサービスにアクセスまたは使用しているその他の法人を意味します。</p>
      </li>
    </ul>
  </div>



  <div class="title">
    <h1>個人データの収集と使用</h1>
  </div>
  <div class="subtitle">
    <h2>収集されるデータの種類</h2>
  </div>
  <div class="caption">
    <h3>個人データ</h3>
  </div>
  <div class="paragraph">
    <p>当社のサービスを使用している間、お客様に連絡または特定するために使用できる特定の個人情報を提供するようにお願いする場合があります。個人を特定できる情報には、次のものが含まれますが、これらに限定されません。</p>
  </div>
  <div class="lists">
    <ul>
      <li>使用状況データ</li>
    </ul>
  </div>

  <div class="caption">
    <h3>使用状況データ</h3>
  </div>
  <div class="paragraph">
    <p>使用状況データは、サービスの使用時に自動的に収集されます。</p>
  </div>
  <div class="paragraph">
    <p>使用状況データには、YourDeviなどの情報が含まれる場合がありますceのインターネットプロトコルアドレス（IPアドレスなど）、ブラウザの種類、ブラウザのバージョン、アクセスしたサービスのページ、アクセスした日時、それらのページで費やした時間、一意のデバイス識別子、その他の診断データ。</p>
  </div>
  <div class="paragraph">
    <p>モバイルデバイスを介して、またはモバイルデバイスを介してサービスにアクセスすると、使用するモバイルデバイスの種類、モバイルデバイスの一意のID、モバイルデバイスのIPアドレスなど、特定の情報が自動的に収集される場合があります。 、モバイルオペレーティングシステム、使用するモバイルインターネットブラウザの種類、一意のデバイスID、その他の診断データ。</p>
  </div>
  <div class="paragraph">
    <p>また、お客様が当社のサービスにアクセスするとき、またはお客様がモバイルデバイスによって、またはモバイルデバイスを介してサービスにアクセスするときに、お客様のブラウザーが送信する情報を収集する場合があります。</p>
  </div>
  
  <div class="caption">
    <h3>追跡技術とCookie</h3>
  </div>
  <div class="paragraph">
    <p>当社は、Cookieおよび同様の追跡技術を使用して、当社のサービスでの活動を追跡し、特定の情報を保存します。使用される追跡技術は、情報を収集および追跡し、当社のサービスを改善および分析するためのビーコン、タグ、およびスクリプトです。私たちが使用するテクノロジーには、次のものが含まれます。</p>
  </div>
  <div class="lists">
    <ul>
      <li>
        <p>
          <strong>CookieまたはブラウザCookie。</strong>Cookieは、デバイスに配置される小さなファイルです。すべてのCookieを拒否するか、Cookieがいつ送信されるかを示すようにブラウザに指示することができます。ただし、Cookieを受け入れない場合、当社のサービスの一部を使用できない場合があります。クッキーを拒否するようにブラウザの設定を調整していない限り、当社のサービスはクッキーを使用する場合があります。
        </p>
      </li>
      <li>
        <p>
          <strong>FlashCookies。</strong>当社のサービスの特定の機能は、ローカルに保存されたオブジェクト（またはFlash Cookies）を使用して、お客様の好みまたは当社のサービスでのアクティビティに関する情報を収集および保存する場合があります。 Flash Cookieは、ブラウザCookieに使用されるものと同じブラウザ設定では管理されません。 Flash Cookieを削除する方法の詳細については、「ローカル共有オブジェクトを無効にする、または削除するための設定をどこで変更できますか？」をお読みください。で入手可能<a href="https://helpx.adobe.com/flash-player/kb/disable-local-shared-objects-flash.html#main_Where_can_I_change_the_settings_for_disabling__or_deleting_local_shared_objects_" rel="external nofollow noopener" target="_blank" style="overflow-wrap: break-word;">https://helpx.adobe.com/flash-player/kb/disable-local-shared-objects-flash.html#main_Where_can_I_change_the_settings_for_disabling__or_deleting_local_shared_objects_ <img src="../../media/assets/icons/outlined/white/Open in New.svg" alt="新しいタブで開く"></a>
        </p>
      </li>
      <li>
        <p>
          <strong>ウェブビーコン。</strong>サービスおよびメールの特定のセクションには、チームが許可するウェブビーコン（クリアGIF、ピクセルタグ、シングルピクセルGIFとも呼ばれる）と呼ばれる小さな電子ファイルが含まれている場合があります。たとえば、これらのページにアクセスした、または電子メールを開いたユーザーをカウントしたり、その他の関連するWebサイトの統計情報を取得したりします（たとえば、特定のセクションの人気を記録し、システムとサーバーの整合性を検証します）。
        </p>
      </li>
    </ul>
  </div>
  <div class="paragraph">
    <p>Cookieは、「永続的」または「セッション」Cookieにすることができます。永続的なCookieは、オフラインになってもパーソナルコンピュータまたはモバイルデバイスに残りますが、セッションCookieは、Webブラウザを閉じるとすぐに削除されます。 Cookieの詳細：<a href="https://www.freeprivacypolicy.com/blog/sample-privacy-policy-template/#Use_Of_Cookies_And_Tracking" target="_blank">無料のプライバシーポリシーによるCookieの使用 <img src="../../media/assets/icons/outlined/white/Open in New.svg" alt="新しいタブで開く"></a>。</p>
  </div>
  <div class="paragraph">
    <p>以下に示す目的で、セッションCookieと永続Cookieの両方を使用します。</p>
  </div>
  <div class="lists">
    <ul>
      <li>
        <p><strong>必要な/必須のCookie<strong><p>
        <p>タイプ：セッションCookie</p>
        <p>管理者：私たち</p>
        <p>目的：これらのCookieは、Webサイトを通じて利用可能なサービスをお客様に提供し、お客様がその機能の一部を使用できるようにするために不可欠です。これらは、ユーザーを認証し、ユーザーアカウントの不正使用を防ぐのに役立ちます。これらのCookieがないと、お客様が要求したサービスを提供できず、当社はこれらのCookieを使用してお客様にこれらのサービスを提供するだけです。</p>
      </li>
      <li>
        <p><strong>Cookieポリシー/通知受け入れCookie<strong><p>
        <p>タイプ：永続的なCookie</p>
        <p>管理者：私たち</p>
        <p>目的：これらのCookieは、ユーザーがWebサイトでのCookieの使用を受け入れたかどうかを識別します。</p>
      </li>
      <li>
        <p><strong>機能Cookie</strong>トロン></p>
        <p>タイプ：永続的なCookie</p>
        <p>管理者：私たち</p>
        <p>目的：これらのCookieを使用すると、ログイン情報や言語設定の記憶など、Webサイトの使用時に行った選択を記憶できます。これらのCookieの目的は、より個人的な体験を提供し、Webサイトを使用するたびに設定を再入力する必要がないようにすることです。</p>
      </li>
    </ul>
  </div>
  <div class="paragraph">
    <p>当社が使用するCookieとCookieに関する選択の詳細については、CookieポリシーまたはプライバシーポリシーのCookieセクションをご覧ください。</p>
  </div>

  <div class="title">
    <h2>個人データの使用</h2>
  </div>
  <div class="paragraph">
    <p>チームは次の目的で個人データを使用する場合があります：</p>
  </div>
  <div class="lists">
    <ul>
      <li>
        <p><strong>当社のサービスの使用状況を監視することを含む</strong>当社のサービスを提供および維持するため。</p>
      </li>
      <li>
        <p><strong>アカウントを管理するには：</strong>サービスのユーザーとしての登録を管理します。お客様が提供する個人データにより、登録ユーザーとしてお客様が利用できるサービスのさまざまな機能にアクセスできるようになります。</p>
      </li>
      <li>
        <p><strong>契約の履行のために：</strong>お客様が購入した製品、アイテム、サービス、またはサービスを通じて当社とのその他の契約の開発、コンプライアンス、および購入契約の履行。</strong></p>
      </li>
      <li>
        <p><strong>お客様に連絡するには：</strong>電子メール、電話、SMS、またはその他の同等の形式の電子通信（更新に関するモバイルアプリケーションのプッシュ通知や機能に関連する有益な通信など）でお客様に連絡するには、実装に必要または合理的な場合の、セキュリティ更新プログラムを含む製品または契約サービス。</p>
      </li>
      <li>
        <p><strong>お客様に提供する</strong>ニュース、特別オファー、およびその他の商品、サービス、イベントに関する一般情報を提供します。これらは、お客様が選択しない限り、既に購入または問い合わせたものと同様です。そのような情報を受け取ります。</p>
      </li>
      <li>
        <p><strong>お客様のリクエストを管理するには：</strong>当社へのリクエストに参加して管理します。</p>
      </li>
      <li>
        <p><strong>事業譲渡の場合：</strong>当社は、お客様の情報を使用して、当社の資産の一部またはすべての合併、売却、リストラ、再編成、解散、またはその他の売却または譲渡を評価または実施する場合があります。継続企業の前提、または破産、清算、または同様の手続きの一環として、当社のサービスユーザーに関して当社が保有する個人データが譲渡される資産に含まれる場合。</p>
      </li>
      <li>
        <p><strong>その他の目的</strong>：データ分析、使用傾向の特定、プロモーションキャンペーンの有効性の判断、サービス、製品、サービスの評価と改善など、その他の目的でお客様の情報を使用する場合があります、マーケティングとあなたの経験。</p>
      </li>
    </ul>
  </div>
  <div class="paragraph">
    <p>次の状況でお客様の個人情報を共有する場合があります：</p>
  </div>
  <div class="lists">
    <ul>
      <li><strong>サービスプロバイダーと：</strong>サービスプロバイダーとお客様の個人情報を共有して、サービスの使用を監視および分析し、お客様に連絡する場合があります。</li>
      <li><strong>事業譲渡の場合：</strong>当社は、合併、チーム資産の売却、資金調達、または当社の全部または一部の買収に関連して、または交渉中に、お客様の個人情報を共有または譲渡する場合があります。別のチーム/スタジオへのビジネス。</li>
      <li><strong>アフィリエイトと：</strong>アフィリエイトとお客様の情報を共有する場合があります。その場合、これらのアフィリエイトはこのプライバシーポリシーを遵守する必要があります。アフィリエイトには、当社の親チーム/スタジオおよびその他の子会社、合弁事業パートナー、または当社が管理する、または当社と共通の管理下にあるその他のチーム/スタジオが含まれます。</li>
      <li><strong>ビジネスパートナーと：</strong>特定の製品、サービス、またはプロモーションを提供するために、お客様の情報をビジネスパートナーと共有する場合があります。</li>
      <li><strong>他のユーザーと：</strong>個人情報を共有したり、公共の場で他のユーザーとやり取りしたりすると、そのような情報はすべてのユーザーに表示され、外部に公開される可能性があります。</li>
      <li><strong>お客様の同意を得て</strong>：当社は、お客様の同意を得て、その他の目的でお客様の個人情報を開示する場合があります。</li>
    </ul>
  </div>

  <div class="subtitle">
    <h2>個人データの保持</h2>
  </div>
  <div class="paragraph">
    <p>チームは、このプライバシーポリシーに定められた目的に必要な期間のみ、お客様の個人データを保持します。当社は、当社の法的義務を遵守するために必要な範囲で（たとえば、適用法を遵守するためにお客様のデータを保持する必要がある場合）、紛争を解決し、当社の法的合意およびポリシーを施行するために、お客様の個人データを保持および使用します。</p>
  </div>
  <div class="paragraph">
    <p>チームは、内部分析の目的で使用状況データも保持します。使用状況データは、セキュリティを強化するため、またはサービスの機能を向上させるために使用される場合、またはこのデータを長期間保持することが法的に義務付けられている場合を除き、通常、より短い期間保持されます。</p>
  </div>
  
  <div class="subtitle">
    <h2>個人データの転送</h2>
  </div>
  <div class="paragraph">
    <p>個人データを含むお客様の情報は、チームの営業所および処理に関与する当事者が所在するその他の場所で処理されます。これは、この情報が、データ保護法がお客様の管轄とは異なる可能性がある、お客様の州、州、国、またはその他の行政管轄外にあるコンピューターに転送され、維持される可能性があることを意味します。</p>
  </div>
  <div class="paragraph">
    <p>このプライバシーポリシーへの同意とそれに続くそのような情報の提出は、その転送への同意を表します。</p>
  </div>
  <div class="paragraph">
    <p>チームは、お客様のデータが安全に扱われ、このプライバシーポリシーに準拠していることを確認するために合理的に必要なすべての措置を講じます。また、以下を含む適切な管理が行われていない限り、お客様の個人データが組織または国に転送されることはありません。お客様のデータおよびその他の個人情報のセキュリティ。</p>
  </div>
  
  <div class="subtitle">
    <h2>個人データの開示</h2>
  </div>
  <div class="caption">
    <h3>商取引</h3>
  </div>
  <div class="paragraph">
    <p>チームが合併、買収、または資産売却に関与している場合、お客様の個人データが転送される場合があります。お客様の個人データが転送され、別のプライバシーポリシーの対象となる前に、通知を行います。</p>
  </div>
  
  <div class="caption">
    <h3>法の執行</h3>
  </div>
  <div class="paragraph">
    <p>特定の状況下では、法律によって、または公的機関（裁判所や政府機関など）からの有効な要求に応じて開示する必要がある場合、チームはお客様の個人データを開示するよう求められる場合があります。</p>
  </div>
  
  <div class="caption">
    <h3>その他の法的要件</h3>
  </div>
  <div class="paragraph">
    <p>チームは、そのような行動が以下の目的で必要であると誠実に信じて、お客様の個人データを開示する場合があります。</p>
  </div>
  <div class="lists">
    <ul>
      <li>法的義務を遵守する</li>
      <li>チームの権利または財産を保護および防御する</li>
      <li>サービスに関連して発生する可能性のある不正行為を防止または調査します</li>
      <li>サービスのユーザーまたは一般の人々の個人的な安全を保護する</li>
      <li>法的責任から保護する</li>
    </ul>
  </div>
          
  <div class="subtitle">
    <h2>個人データのセキュリティ</h2>
  </div>
  <div class="paragraph">
    <p>お客様の個人データのセキュリティは当社にとって重要ですが、インターネットを介した送信方法や電子ストレージの方法は100％安全ではないことを忘れないでください。当社は、お客様の個人データを保護するために商業的に受け入れられる手段を使用するよう努めていますが、その絶対的なセキュリティを保証することはできません。</p>
  </div>
  
  <div class="title">
    <h1>子供のプライバシー</h1>
  </div>
  <div class="paragraph">
    <p>当社のサービスは13歳未満の人には対応していません。13歳未満の人から故意に個人を特定できる情報を収集することはありません。あなたが親または保護者であり、あなたの子供が私たちに個人情報を提供したことを知っている場合データはお問い合わせください。保護者の同意を確認せずに13歳未満の人から個人データを収集したことに気付いた場合は、その情報をサーバーから削除するための措置を講じます。</p>
  </div>
  <div class="paragraph">
    <p>お客様の情報を処理するための法的根拠として同意に依存する必要があり、お客様の国で保護者の同意が必要な場合、その情報を収集して使用する前に、保護者の同意が必要になる場合があります。</p>
  </div>
  
  <div class="title">
      <h1>他のウェブサイトへのリンク</h1>
  </div>
  <div class="paragraph">
    <p>当社のサービスには、当社が運営していない他のウェブサイトへのリンクが含まれている場合があります。サードパーティのリンクをクリックすると、そのサードパーティのサイトに移動します。アクセスするすべてのサイトのプライバシーポリシーを確認することを強くお勧めします。</p>
  </div>
  <div class="paragraph">
    <p>当社は、第三者のサイトまたはサービスのコンテンツ、プライバシーポリシー、または慣行を管理することはできず、責任を負わないものとします。</p>
  </div>
      
  <div class="title">
    <h1>このプライバシーポリシーの変更</h1>
  </div>
  <div class="paragraph">
    <p>プライバシーポリシーは随時更新される場合があります。このページに新しいプライバシーポリシーを掲載することにより、変更があれば通知します。</p>
  </div>
  <div class="paragraph">
    <p>変更が有効になる前に、メールまたはサービスに関する目立つ通知でお知らせし、このプライバシーポリシーの上部にある「最終更新日」を更新します。</p>
  </div>
  <div class="paragraph">
    <p>変更がないか、このプライバシーポリシーを定期的に確認することをお勧めします。このプライバシーポリシーの変更は、このページに掲載された時点で有効になります。</p>
  </div>
      
  <div class="title">
    <h1>お問い合わせ</h1>
  </div>
  <div class="paragraph">
    <p>このプライバシーポリシーについてご不明な点がございましたら、お問い合わせください：</p>
  </div>
  <div class="lists">
    <ul>
      <li>
        <p>メール：<br>
          <a href="mailto:rarefrostbitesteam@gmail.com" target="_blank" style="margin-left:10px;">rarefrostbitesteam@gmail.com <img src="../../media/assets/icons/outlined/white/Open in New.svg" alt="新しいタブで開く"></a><br>
          <a href="mailto:rarefrostbitesteam@outlook.com" target="_blank" style="margin-left:10px;">rarefrostbitesteam@outlook.com <img src="../../media/assets/icons/outlined/white/Open in New.svg" alt="新しいタブで開く"></a></p>
      </li>
      <li>
        <p>当社のウェブサイトのこのページにアクセスして：<br>
          <a href="../contact/" rel="external nofollow noopener" target="_blank" style="margin-left:10px;">https://rarefrostbites.pages.dev/contact <img src="../../media/assets/icons/outlined/white/Open in New.svg" alt="新しいタブで開く"></a></p>
      </li>
    </ul>
  </div>