<div class="rfbsafe">
  <img
    src="../../media/assets/privacy-policy/rfbsafe.svg"
    alt="logo RFB Safe"
  />
</div>

<div class="pvc-title">
  <h1>Dasar Privasi</h1>
</div>

<div class="date">
  <p>Terakhir dikemas kini: 27 Januari 2022</p>
</div>

<div class="paragraph">
  <p>
    Dasar Privasi ini menerangkan dasar dan prosedur Kami tentang pengumpulan,
    penggunaan dan pendedahan maklumat Anda apabila Anda menggunakan
    Perkhidmatan dan memberitahu Anda tentang hak privasi Anda dan cara
    undang-undang melindungi Anda.
  </p>
</div>
<div class="paragraph">
  <p>
    Kami menggunakan data Peribadi Anda untuk menyediakan dan menambah baik
    Perkhidmatan. Dengan menggunakan Perkhidmatan, Anda bersetuju menerima
    pengumpulan dan penggunaan maklumat mengikut Dasar Privasi ini. Dasar
    Privasi ini telah dibuat dengan bantuan
    <a
      href="https://www.freeprivacypolicy.com/blog/sample-privacy-policy-template/"
      target="_blank"
      >Templat Dasar Privasi
      <img
        src="../../media/assets/icons/outlined/white/Open in New.svg"
        alt="Buka dalam tab baharu" /></a
    >.
  </p>
</div>

<div class="title">
  <h1>Tafsiran dan Definisi</h1>
</div>
<div class="subtitle">
  <h2>Tafsiran</h2>
</div>
<div class="paragraph">
  <p>
    Perkataan yang huruf awalnya ditulis dengan huruf besar mempunyai makna yang
    ditakrifkan di bawah syarat berikut. Takrifan berikut hendaklah mempunyai
    makna yang sama tanpa mengira sama ada ia muncul dalam bentuk tunggal atau
    jamak.
  </p>
</div>

<div class="subtitle">
  <h2>Takrif</h2>
</div>
<div class="paragraph">
  <p>Untuk tujuan Dasar Privasi ini:</p>
</div>
<div class="lists">
  <ul>
    <li>
      <p>
        <strong>Akaun</strong> bermaksud akaun unik yang dibuat untuk Anda
        mengakses Perkhidmatan kami atau sebahagian daripada Perkhidmatan kami.
      </p>
    </li>
    <li>
      <p>
        <strong>Pasukan</strong> (dirujuk sama ada "Pasukan", "Kami", "Kami"
        atau "Kami" dalam Perjanjian ini) merujuk kepada
        <span class="user notranslate">RareFrostbites</span>.
      </p>
    </li>
    <li>
      <p>
        <strong>Kuki</strong> ialah fail kecil yang diletakkan pada komputer
        Anda, peranti mudah alih atau mana-mana peranti lain oleh tapak web,
        yang mengandungi butiran sejarah penyemakan imbas Anda di tapak web itu
        di antara banyak kegunaannya.
      </p>
    </li>
    <li>
      <p><strong>Negara</strong> merujuk kepada: Filipina</p>
    </li>
    <li>
      <p>
        <strong>Peranti</strong> bermaksud sebarang peranti yang boleh mengakses
        Perkhidmatan seperti komputer, telefon bimbit atau tablet digital.
      </p>
    </li>
    <li>
      <p>
        <strong>Data Peribadi</strong> ialah sebarang maklumat yang berkaitan
        dengan individu yang dikenal pasti atau boleh dikenal pasti.
      </p>
    </li>
    <li>
      <p><strong>Perkhidmatan</strong> merujuk kepada Tapak Web.</p>
    </li>
    <li>
      <p>
        <strong>Pembekal Perkhidmatan</strong> bermaksud mana-mana orang asli
        atau sah yang memproses data bagi pihak Pasukan. Ia merujuk kepada
        pasukan/studio pihak ketiga atau individu yang diambil bekerja oleh
        Pasukan untuk memudahkan Perkhidmatan, untuk menyediakan Perkhidmatan
        bagi pihak Pasukan, untuk melaksanakan perkhidmatan yang berkaitan
        dengan Perkhidmatan atau untuk membantu Pasukan dalam menganalisis cara
        Perkhidmatan digunakan.
      </p>
    </li>
    <li>
      <p>
        <strong>Data Penggunaan</strong> merujuk kepada data yang dikumpul
        secara automatik, sama ada dijana melalui penggunaan Perkhidmatan atau
        daripada infrastruktur Perkhidmatan itu sendiri (contohnya, tempoh
        lawatan halaman).
      </p>
    </li>
    <li>
      <p>
        <strong>Tapak web</strong> merujuk kepada
        <span class="user notranslate">RareFrostbites Team</span>, boleh diakses
        daripada
        <a
          href="https://rarefrostbites.pages.dev"
          rel="external nofollow noopener"
          >https://rarefrostbites.pages.dev</a
        >
      </p>
    </li>
    <li>
      <p>
        <strong>Anda</strong> bermaksud individu yang mengakses atau menggunakan
        Perkhidmatan, atau pasukan/studio, atau entiti undang-undang lain bagi
        pihak individu tersebut mengakses atau menggunakan Perkhidmatan,
        mengikut mana yang berkenaan.
      </p>
    </li>
  </ul>
</div>

<div class="title">
  <h1>Mengumpul dan Menggunakan Data Peribadi Anda</h1>
</div>
<div class="subtitle">
  <h2>Jenis Data Dikumpul</h2>
</div>
<div class="caption">
  <h3>Data Peribadi</h3>
</div>
<div class="paragraph">
  <p>
    Semasa menggunakan Perkhidmatan Kami, Kami mungkin meminta Anda untuk
    memberikan Kami maklumat pengenalan peribadi tertentu yang boleh digunakan
    untuk menghubungi atau mengenal pasti Anda. Maklumat yang boleh dikenal
    pasti secara peribadi mungkin termasuk, tetapi tidak terhad kepada:
  </p>
</div>
<div class="lists">
  <ul>
    <li>Data Penggunaan</li>
  </ul>
</div>

<div class="caption">
  <h3>Data Penggunaan</h3>
</div>
<div class="paragraph">
  <p>
    Data Penggunaan dikumpul secara automatik apabila menggunakan Perkhidmatan.
  </p>
</div>
<div class="paragraph">
  <p>
    Data Penggunaan mungkin termasuk maklumat seperti Devi Andaalamat Protokol
    Internet ce (cth alamat IP), jenis penyemak imbas, versi penyemak imbas,
    halaman Perkhidmatan kami yang Anda lawati, masa dan tarikh lawatan Anda,
    masa yang dihabiskan pada halaman tersebut, pengecam peranti unik dan data
    diagnostik lain.
  </p>
</div>
<div class="paragraph">
  <p>
    Apabila Anda mengakses Perkhidmatan melalui atau melalui peranti mudah alih,
    Kami mungkin mengumpul maklumat tertentu secara automatik, termasuk, tetapi
    tidak terhad kepada, jenis peranti mudah alih yang Anda gunakan, ID unik
    peranti mudah alih anda, alamat IP peranti mudah alih Anda , Sistem
    pengendalian mudah alih anda, jenis penyemak imbas Internet mudah alih yang
    anda gunakan, pengecam peranti unik dan data diagnostik lain.
  </p>
</div>
<div class="paragraph">
  <p>
    Kami juga mungkin mengumpul maklumat yang dihantar oleh penyemak imbas Anda
    apabila Anda melawati Perkhidmatan kami atau apabila Anda mengakses
    Perkhidmatan melalui atau melalui peranti mudah alih.
  </p>
</div>

<div class="caption">
  <h3>Teknologi Penjejakan dan Kuki</h3>
</div>
<div class="paragraph">
  <p>
    Kami menggunakan Kuki dan teknologi penjejakan yang serupa untuk menjejaki
    aktiviti pada Perkhidmatan Kami dan menyimpan maklumat tertentu. Teknologi
    penjejakan yang digunakan ialah suar, teg dan skrip untuk mengumpul dan
    menjejak maklumat serta menambah baik dan menganalisis Perkhidmatan Kami.
    Teknologi yang Kami gunakan mungkin termasuk:
  </p>
</div>
<div class="lists">
  <ul>
    <li>
      <p>
        <strong>Kuki atau Kuki Penyemak Imbas.</strong> Kuki ialah fail kecil
        yang diletakkan pada Peranti Anda. Anda boleh mengarahkan penyemak imbas
        Anda untuk menolak semua Kuki atau untuk menunjukkan apabila Kuki sedang
        dihantar. Walau bagaimanapun, jika Anda tidak menerima Kuki, Anda
        mungkin tidak boleh menggunakan beberapa bahagian Perkhidmatan kami.
        Melainkan anda telah melaraskan tetapan penyemak imbas anda supaya ia
        akan menolak Kuki, Perkhidmatan kami mungkin menggunakan Kuki.
      </p>
    </li>
    <li>
      <p>
        <strong>Kuki Flash.</strong> Ciri tertentu Perkhidmatan kami mungkin
        menggunakan objek tersimpan setempat (atau Kuki Flash) untuk mengumpul
        dan menyimpan maklumat tentang pilihan Anda atau aktiviti Anda pada
        Perkhidmatan kami. Kuki Flash tidak diuruskan oleh tetapan penyemak
        imbas yang sama seperti yang digunakan untuk Kuki Penyemak Imbas. Untuk
        mendapatkan maklumat lanjut tentang cara Anda boleh memadam Kuki Flash,
        sila baca "Di manakah saya boleh menukar tetapan untuk melumpuhkan atau
        memadam objek kongsi setempat?" tersedia di
        <a
          href="https://helpx.adobe.com/flash-player/kb/disable-local-shared-objects-flash.html#main_Where_can_I_change_the_settings_for_disabling__or_deleting_local_shared_objects_"
          rel="external nofollow noopener"
          target="_blank"
          style="overflow-wrap: break-word"
          >https://helpx.adobe.com/flash-player/kb/disable-local-shared-objects-flash.html#main_Where_can_I_change_the_settings_for_disabling__or_deleting_local_shared_objects_
          <img
            src="../../media/assets/icons/outlined/white/Open in New.svg"
            alt="Buka dalam tab baharu"
        /></a>
      </p>
    </li>
    <li>
      <p>
        <strong>Web Beacon.</strong> Bahagian tertentu Perkhidmatan kami dan
        e-mel kami mungkin mengandungi fail elektronik kecil yang dikenali
        sebagai web beacon (juga dirujuk sebagai gif yang jelas, teg piksel dan
        gif piksel tunggal) yang membenarkan Pasukan, untuk contohnya, untuk
        mengira pengguna yang telah melawat halaman tersebut atau membuka e-mel
        dan untuk statistik tapak web lain yang berkaitan (contohnya, merekodkan
        populariti bahagian tertentu dan mengesahkan integriti sistem dan
        pelayan).
      </p>
    </li>
  </ul>
</div>
<div class="paragraph">
  <p>
    Kuki boleh menjadi Kuki "Berterusan" atau "Sesi". Kuki Berterusan kekal pada
    komputer peribadi atau peranti mudah alih anda apabila Anda pergi ke luar
    talian, manakala Kuki Sesi dipadamkan sebaik sahaja Anda menutup pelayar web
    Anda. Ketahui lebih lanjut tentang kuki:
    <a
      href="https://www.freeprivacypolicy.com/blog/sample-privacy-policy-template/#Use_Of_Cookies_And_Tracking"
      target="_blank"
      >Penggunaan Kuki oleh Dasar Privasi Percuma
      <img
        src="../../media/assets/icons/outlined/white/Open in New.svg"
        alt="Buka dalam tab baharu" /></a
    >.
  </p>
</div>
<div class="paragraph">
  <p>
    Kami menggunakan kedua-dua Sesi dan Kuki Gigih untuk tujuan yang dinyatakan
    di bawah:
  </p>
</div>
<div class="lists">
  <ul>
    <li>
      <p><strong>Kuki Perlu / Penting</strong></p>
      <p>Jenis: Kuki Sesi</p>
      <p>Ditadbir oleh: Kami</p>
      <p>
        Tujuan: Kuki ini penting untuk memberi Anda perkhidmatan yang tersedia
        melalui Laman Web dan untuk membolehkan Anda menggunakan beberapa
        cirinya. Mereka membantu untuk mengesahkan pengguna dan menghalang
        penggunaan akaun pengguna secara penipuan. Tanpa Kuki ini, perkhidmatan
        yang Anda minta tidak dapat diberikan, dan Kami hanya menggunakan Kuki
        ini untuk menyediakan kepada Anda perkhidmatan tersebut.
      </p>
    </li>
    <li>
      <p><strong>Dasar Kuki / Kuki Penerimaan Notis</strong></p>
      <p>Jenis: Kuki Berterusan</p>
      <p>Ditadbir oleh: Kami</p>
      <p>
        Tujuan: Kuki ini mengenal pasti sama ada pengguna telah menerima
        penggunaan kuki di Laman Web.
      </p>
    </li>
    <li>
      <p><strong>Kuki Kefungsian</strong></p>
      <p>Jenis: Kuki Berterusan</p>
      <p>Ditadbir oleh: Kami</p>
      <p>
        Tujuan: Kuki ini membolehkan kami mengingati pilihan yang Anda buat
        apabila Anda menggunakan Laman Web, seperti mengingat butiran log masuk
        atau pilihan bahasa anda. Tujuan Kuki ini adalah untuk memberikan Anda
        pengalaman yang lebih peribadi dan untuk mengelakkan Anda perlu
        memasukkan semula pilihan anda setiap kali Anda menggunakan Laman Web.
      </p>
    </li>
  </ul>
</div>
<div class="paragraph">
  <p>
    Untuk mendapatkan maklumat lanjut tentang kuki yang kami gunakan dan pilihan
    anda berkenaan kuki, sila lawati Dasar Kuki kami atau bahagian Kuki Dasar
    Privasi kami.
  </p>
</div>

<div class="title">
  <h2>Penggunaan Data Peribadi Anda</h2>
</div>
<div class="paragraph">
  <p>Pasukan boleh menggunakan Data Peribadi untuk tujuan berikut:</p>
</div>
<div class="lists">
  <ul>
    <li>
      <p>
        <strong>Untuk menyediakan dan mengekalkan Perkhidmatan kami</strong>,
        termasuk untuk memantau penggunaan Perkhidmatan kami.
      </p>
    </li>
    <li>
      <p>
        <strong>Untuk mengurus Akaun Anda:</strong> untuk mengurus pendaftaran
        Anda sebagai pengguna Perkhidmatan. Data Peribadi yang Anda berikan
        boleh memberi Anda akses kepada fungsi berbeza Perkhidmatan yang
        tersedia untuk Anda sebagai pengguna berdaftar.
      </p>
    </li>
    <li>
      <p>
        <strong>Untuk pelaksanaan kontrak:</strong> pembangunan, pematuhan dan
        aku janji kontrak pembelian untuk produk, item atau perkhidmatan yang
        telah Anda beli atau mana-mana kontrak lain dengan Kami melalui
        Perkhidmatan.
      </p>
    </li>
    <li>
      <p>
        <strong>Untuk menghubungi Anda:</strong> Untuk menghubungi Anda melalui
        e-mel, panggilan telefon, SMS atau bentuk komunikasi elektronik lain
        yang setara, seperti pemberitahuan tolak aplikasi mudah alih mengenai
        kemas kini atau komunikasi bermaklumat yang berkaitan dengan fungsi,
        produk atau perkhidmatan kontrak, termasuk kemas kini keselamatan,
        apabila perlu atau munasabah untuk pelaksanaannya.
      </p>
    </li>
    <li>
      <p>
        <strong>Untuk memberi Anda</strong> berita, tawaran istimewa dan
        maklumat am tentang barangan, perkhidmatan dan acara lain yang kami
        tawarkan yang serupa dengan yang telah anda beli atau tanyakan melainkan
        Anda telah memilih untuk tidak menerima maklumat tersebut.
      </p>
    </li>
    <li>
      <p>
        <strong>Untuk mengurus permintaan Anda:</strong> Untuk menghadiri dan
        mengurus permintaan Anda kepada Kami.
      </p>
    </li>
    <li>
      <p>
        <strong>Untuk pemindahan perniagaan:</strong> Kami mungkin menggunakan
        maklumat Anda untuk menilai atau menjalankan penggabungan, pelupusan,
        penstrukturan semula, penyusunan semula, pembubaran, atau penjualan atau
        pemindahan lain sebahagian atau semua aset Kami, sama ada sebagai
        kebimbangan berterusan atau sebagai sebahagian daripada kebankrapan,
        pembubaran atau prosiding yang serupa, yang mana Data Peribadi yang
        dipegang oleh Kami tentang pengguna Perkhidmatan kami adalah antara aset
        yang dipindahkan.
      </p>
    </li>
    <li>
      <p>
        <strong>Untuk tujuan lain</strong>: Kami mungkin menggunakan maklumat
        Anda untuk tujuan lain, seperti analisis data, mengenal pasti trend
        penggunaan, menentukan keberkesanan kempen promosi kami dan untuk
        menilai dan menambah baik Perkhidmatan, produk, perkhidmatan kami ,
        pemasaran dan pengalaman anda.
      </p>
    </li>
  </ul>
</div>
<div class="paragraph">
  <p>Kami mungkin berkongsi maklumat peribadi Anda dalam situasi berikut:</p>
</div>
<div class="lists">
  <ul>
    <li>
      <strong>Dengan Pembekal Perkhidmatan:</strong> Kami mungkin berkongsi
      maklumat peribadi Anda dengan Pembekal Perkhidmatan untuk memantau dan
      menganalisis penggunaan Perkhidmatan kami, untuk menghubungi Anda.
    </li>
    <li>
      <strong>Untuk pemindahan perniagaan:</strong> Kami mungkin berkongsi atau
      memindahkan maklumat peribadi Anda berkaitan dengan, atau semasa
      rundingan, sebarang penggabungan, penjualan aset Pasukan, pembiayaan atau
      pemerolehan semua atau sebahagian daripada Kami perniagaan kepada pasukan/
      studio lain.
    </li>
    <li>
      <strong>Dengan Ahli Gabungan:</strong> Kami mungkin berkongsi maklumat
      Anda dengan ahli gabungan Kami, dalam hal ini kami akan memerlukan ahli
      gabungan tersebut untuk mematuhi Dasar Privasi ini. Ahli gabungan termasuk
      pasukan/studio induk Kami dan mana-mana anak syarikat lain, rakan kongsi
      usaha sama atau pasukan/studio lain yang Kami kawal atau yang berada di
      bawah kawalan bersama Kami.
    </li>
    <li>
      <strong>Dengan rakan kongsi perniagaan:</strong> Kami mungkin berkongsi
      maklumat Anda dengan rakan kongsi perniagaan Kami untuk menawarkan kepada
      Anda produk, perkhidmatan atau promosi tertentu.
    </li>
    <li>
      <strong>Dengan pengguna lain:</strong> apabila Anda berkongsi maklumat
      peribadi atau sebaliknya berinteraksi di kawasan awam dengan pengguna
      lain, maklumat tersebut mungkin dilihat oleh semua pengguna dan mungkin
      diedarkan secara terbuka di luar.
    </li>
    <li>
      <strong>Dengan persetujuan Anda</strong>: Kami mungkin mendedahkan
      maklumat peribadi Anda untuk sebarang tujuan lain dengan persetujuan Anda.
    </li>
  </ul>
</div>

<div class="subtitle">
  <h2>Pengekalan Data Peribadi Anda</h2>
</div>
<div class="paragraph">
  <p>
    Pasukan akan mengekalkan Data Peribadi Anda hanya selama yang diperlukan
    untuk tujuan yang ditetapkan dalam Dasar Privasi ini. Kami akan mengekalkan
    dan menggunakan Data Peribadi Anda setakat yang diperlukan untuk mematuhi
    kewajipan undang-undang kami (contohnya, jika kami dikehendaki mengekalkan
    data anda untuk mematuhi undang-undang yang berkenaan), menyelesaikan
    pertikaian dan menguatkuasakan perjanjian dan dasar undang-undang kami.
  </p>
</div>
<div class="paragraph">
  <p>
    Pasukan juga akan mengekalkan Data Penggunaan untuk tujuan analisis dalaman.
    Data Penggunaan biasanya disimpan untuk tempoh masa yang lebih singkat,
    kecuali apabila data ini digunakan untuk mengukuhkan keselamatan atau untuk
    meningkatkan kefungsian Perkhidmatan Kami, atau Kami bertanggungjawab di
    sisi undang-undang untuk mengekalkan data ini untuk tempoh masa yang lebih
    lama.
  </p>
</div>

<div class="subtitle">
  <h2>Pemindahan Data Peribadi Anda</h2>
</div>
<div class="paragraph">
  <p>
    Maklumat anda, termasuk Data Peribadi, diproses di pejabat operasi Pasukan
    dan di mana-mana tempat lain di mana pihak yang terlibat dalam pemprosesan
    berada. Ini bermakna maklumat ini boleh dipindahkan ke — dan diselenggarakan
    pada — komputer yang terletak di luar negeri, wilayah, negara atau bidang
    kuasa kerajaan yang lain di mana undang-undang perlindungan data mungkin
    berbeza daripada undang-undang dari bidang kuasa Anda.
  </p>
</div>
<div class="paragraph">
  <p>
    Persetujuan anda terhadap Dasar Privasi ini diikuti dengan penyerahan
    maklumat tersebut oleh Anda mewakili persetujuan Anda terhadap pemindahan
    tersebut.
  </p>
</div>
<div class="paragraph">
  <p>
    Pasukan akan mengambil semua langkah yang semunasabahnya perlu untuk
    memastikan bahawa data Anda dikendalikan dengan selamat dan mengikut Dasar
    Privasi ini dan tiada pemindahan Data Peribadi Anda akan berlaku kepada
    organisasi atau negara melainkan terdapat kawalan yang mencukupi termasuk
    keselamatan data Anda dan maklumat peribadi lain.
  </p>
</div>

<div class="subtitle">
  <h2>Pendedahan Data Peribadi Anda</h2>
</div>
<div class="caption">
  <h3>Transaksi Perniagaan</h3>
</div>
<div class="paragraph">
  <p>
    Jika Pasukan terlibat dalam penggabungan, pemerolehan atau penjualan aset,
    Data Peribadi Anda mungkin dipindahkan. Kami akan memberikan notis sebelum
    Data Peribadi Anda dipindahkan dan tertakluk kepada Dasar Privasi yang
    berbeza.
  </p>
</div>

<div class="caption">
  <h3>Penguatkuasaan undang-undang</h3>
</div>
<div class="paragraph">
  <p>
    Dalam keadaan tertentu, Pasukan mungkin dikehendaki mendedahkan Data
    Peribadi Anda jika dikehendaki berbuat demikian oleh undang-undang atau
    sebagai tindak balas kepada permintaan yang sah oleh pihak berkuasa awam
    (cth. mahkamah atau agensi kerajaan).
  </p>
</div>

<div class="caption">
  <h3>Keperluan undang-undang lain</h3>
</div>
<div class="paragraph">
  <p>
    Pasukan boleh mendedahkan Data Peribadi Anda dengan niat baik bahawa
    tindakan sedemikian perlu untuk:
  </p>
</div>
<div class="lists">
  <ul>
    <li>Mematuhi kewajipan undang-undang</li>
    <li>Melindungi dan mempertahankan hak atau harta Pasukan</li>
    <li>
      Mencegah atau menyiasat kemungkinan salah laku yang berkaitan dengan
      Perkhidmatan
    </li>
    <li>Lindungi keselamatan peribadi Pengguna Perkhidmatan atau orang awam</li>
    <li>Lindungi daripada liabiliti undang-undang</li>
  </ul>
</div>

<div class="subtitle">
  <h2>Keselamatan Data Peribadi Anda</h2>
</div>
<div class="paragraph">
  <p>
    Keselamatan Data Peribadi Anda adalah penting kepada Kami, tetapi ingat
    bahawa tiada kaedah penghantaran melalui Internet, atau kaedah storan
    elektronik adalah 100% selamat. Walaupun Kami berusaha untuk menggunakan
    cara yang boleh diterima secara komersial untuk melindungi Data Peribadi
    Anda, Kami tidak dapat menjamin keselamatan mutlaknya.
  </p>
</div>

<div class="title">
  <h1>Privasi Kanak-kanak</h1>
</div>
<div class="paragraph">
  <p>
    Perkhidmatan Kami tidak menangani sesiapa di bawah umur 13 tahun. Kami tidak
    mengumpul maklumat yang boleh dikenal pasti secara peribadi daripada sesiapa
    di bawah umur 13 tahun. Jika Anda adalah ibu bapa atau penjaga dan Anda
    sedar bahawa anak Anda telah memberikan Kami Peribadi Data, sila hubungi
    Kami. Jika Kami menyedari bahawa Kami telah mengumpul Data Peribadi daripada
    sesiapa di bawah umur 13 tahun tanpa pengesahan kebenaran ibu bapa, Kami
    mengambil langkah untuk mengalih keluar maklumat tersebut daripada pelayan
    Kami.
  </p>
</div>
<div class="paragraph">
  <p>
    Jika Kami perlu bergantung pada persetujuan sebagai asas undang-undang untuk
    memproses maklumat Anda dan negara Anda memerlukan persetujuan daripada ibu
    bapa, Kami mungkin memerlukan kebenaran ibu bapa Anda sebelum Kami mengumpul
    dan menggunakan maklumat tersebut.
  </p>
</div>

<div class="title">
  <h1>Pautan ke OtTapak webnya</h1>
</div>
<div class="paragraph">
  <p>
    Perkhidmatan Kami mungkin mengandungi pautan ke tapak web lain yang tidak
    dikendalikan oleh Kami. Jika Anda mengklik pada pautan pihak ketiga, Anda
    akan diarahkan ke tapak pihak ketiga tersebut. Kami amat menasihati Anda
    untuk menyemak Dasar Privasi setiap tapak yang Anda lawati.
  </p>
</div>
<div class="paragraph">
  <p>
    Kami tidak mempunyai kawalan ke atas dan tidak bertanggungjawab ke atas
    kandungan, dasar privasi atau amalan mana-mana tapak atau perkhidmatan pihak
    ketiga.
  </p>
</div>

<div class="title">
  <h1>Perubahan pada Dasar Privasi ini</h1>
</div>
<div class="paragraph">
  <p>
    Kami mungkin mengemas kini Dasar Privasi Kami dari semasa ke semasa. Kami
    akan memberitahu Anda tentang sebarang perubahan dengan menyiarkan Dasar
    Privasi baharu pada halaman ini.
  </p>
</div>
<div class="paragraph">
  <p>
    Kami akan memberitahu Anda melalui e-mel dan/atau notis penting mengenai
    Perkhidmatan Kami, sebelum perubahan berkuat kuasa dan mengemas kini tarikh
    "Terakhir dikemas kini" di bahagian atas Dasar Privasi ini.
  </p>
</div>
<div class="paragraph">
  <p>
    Anda dinasihatkan untuk menyemak Dasar Privasi ini secara berkala untuk
    sebarang perubahan. Perubahan pada Dasar Privasi ini berkuat kuasa apabila
    ia disiarkan pada halaman ini.
  </p>
</div>

<div class="title">
  <h1>Hubungi Kami</h1>
</div>
<div class="paragraph">
  <p>
    Jika anda mempunyai sebarang soalan tentang Dasar Privasi ini, Anda boleh
    menghubungi kami:
  </p>
</div>
<div class="lists">
  <ul>
    <li>
      <p>
        Melalui e-mel:<br />
        <a
          href="mailto:rarefrostbitesteam@gmail.com"
          target="_blank"
          style="margin-left: 10px"
          >rarefrostbitesteam@gmail.com
          <img
            src="../../media/assets/icons/outlined/white/Open in New.svg"
            alt="Buka dalam tab baharu" /></a
        ><br />
        <a
          href="mailto:rarefrostbitesteam@outlook.com"
          target="_blank"
          style="margin-left: 10px"
          >rarefrostbitesteam@outlook.com
          <img
            src="../../media/assets/icons/outlined/white/Open in New.svg"
            alt="Buka dalam tab baharu"
        /></a>
      </p>
    </li>
    <li>
      <p>
        Dengan melawat halaman ini di tapak web kami:<br />
        <a
          href="../contact/"
          rel="external nofollow noopener"
          target="_blank"
          style="margin-left: 10px"
          >https://rarefrostbites.pages.dev/contact
          <img
            src="../../media/assets/icons/outlined/white/Open in New.svg"
            alt="Buka dalam tab baharu"
        /></a>
      </p>
    </li>
  </ul>
</div>
