<div class="headline">
    <h1>Choose a platform</h1>
    <h4>This is where we work, via Server.</h4>
</div>

<div class="platform">
    <div class="discord">
        <img src="/media/apply/start/discord.svg" alt="Discord logo">
        <h3>Discord</h3>

        <a href="https://discord.gg/Rz5y9S4kj9" rel="external nofollow noopener" target="_blank">
            <button>
                <div class="text">Join</div>
            </button>
        </a>
    </div>

    <div class="guilded">
        <img src="/media/apply/start/guilded.svg" alt="Guilded logo">
        <h3>Guilded</h3>

        <a href="https://guilded.gg/RareFrostbites" rel="external nofollow noopener" target="_blank">
            <button>
                <div class="text">Join</div>
            </button>
        </a>
    </div>
</div>